workflows/[fazer.ai]-6.-assistente-interno-iStCju9ZEQ7xWvbR.json
{"createdAt":"2025-07-14T00:46:45.216Z","updatedAt":"2025-07-14T00:46:47.421Z","id":"iStCju9ZEQ7xWvbR","name":"[fazer.ai] 6. Assistente interno","active":false,"isArchived":false,"nodes":[{"parameters":{"chatId":"={{ $('Info').item.json.telegram_chat_id }}","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2180,720],"id":"5653c2ef-80b3-405a-afc8-c38f4d4f9886","name":"Responder Telegram","webhookId":"21855174-4f7f-49f5-b8f4-a284d6ee4ddf"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[140,720],"id":"323bb58d-297a-4a3d-ad17-b1dfbdc0cf08","name":"Receber Mensagem Telegram","webhookId":"f2b29356-d5d3-4f5d-9ef1-273001c0a820"},{"parameters":{"promptType":"define","text":"={{ $json.mensagem }}","options":{"systemMessage":"=Agora são {{ $now.format('FFFF') }}.\n\n## PAPEL\n\nVocê é um assistente interno de reagendamento no escritório, acionado diretamente por um profissional via mensagem para gerenciar situações de remarcação de consultas, incluir lembretes na lista de compras ou agendar tarefas.\n\n## OBJETIVO GERAL\n\n1. Reagendar consultas a pedido do profissional.  \n2. Adicionar lembretes na lista de compras quando solicitado.  \n3. Agendar tarefas a pedido do profissional\n\n\n## RESUMO DE RESPONSABILIDADES\n\n1. Reagendamento de leads  \n   - Acesse o Google Calendar por meio das ferramentas de evento para identificar as consultas afetadas.\n   - Extraia o número de telefone e o ID da conversa na descrição do evento.\n   - Use a ferramenta \"Enviar_reagendamento\" para enviar mensagens de reagendamento aos pacientes.\n   - Envie a pergunta de preferência de nova data e horário.\n2. Lista de compras do escritório  \n   - Se o profissional solicitar a inclusão de um item na lista de compras, utilize a ferramenta \"Criar_tarefa\" para adicionar o lembrete.\n3. Agendamento de tarefas do escritório\n   - Se o profissional solicitar o agendamento de uma tarefa na agenda do Google Calendar, utilize a ferramenta \"Criar_tarefa\" para adicionar o lembrete.\n4. Ler e resumir lista de emails\n   - Se o profissional solicitar informação sobre os emails recebidos, use a ferramenta \"Ler_emails\" e resuma as informações\n\n## ORIENTAÇÕES DE LINGUAGEM E PROCEDIMENTO\n\n- Use uma abordagem empática, profissional e acolhedora.\n- Nunca envie mensagens para pacientes sem autorização explícita do profissional.\n- Quando listar eventos ou tarefas, seja objetivo e organizado.\n- Mantenha clareza e concisão em todas as interações.\n\n## PROFISSIONAIS E ESPECIALIDADES\n\nSegue o nome dos profissionais, suas especialidades, e o ID da agenda que deve ser usado nas ferramentas Google Calendar\n\n**MUITO IMPORTANTE!! O ID DA AGENDA INCLUI O \"@group.calendar.google.com\". NÃO OMITA AO UTILIZAR AS FERRAMENTAS**\n\n- Dr. João Paulo Ferreira - Médico - Clinico Geral (c_46b1d614bf4f151ca950431202bf90ca003301793b48cffc489dc411be79c4bf@group.calendar.google.com)\n- Dr. Roberto Almeida - Médico - Cardiologia (c_6c3005bf4afd591f13f242f6509208ddbe1feadad3f6521884ab79c59069bfd0@group.calendar.google.com)\n- Dra. Ana Silva - Dentista - Clínica Geral (c_ebce2058c0b75e881585b90539f6ded839de178d4bb64e1aa9e4f6468d6954a6@group.calendar.google.com)\n- Dra. Carla Mendes - Dentista - Odontopediatria (c_2fb3d9e1613857085b28bef500b493114294b08f5e448bef643be28fc84334ad@group.calendar.google.com)\n\n## IMPORTANTE\n\n- Use a ferramenta \"Refletir\" antes e depois de realizar operações complexas, para ter certeza de que deu tudo certo.\n- SEMPRE QUE ENVIAR UMA MENSAGEM PARA O PACIENTE, **USE A FERRAMENTA \"Salvar_memoria\"**. ISSO É MUITO IMPORTANTE, NÃO FAÇA ERRADO POR FAVOR.\n\n## INSTRUÇÕES FINAIS\n\n- Atenda exclusivamente às solicitações de reagendamento e inclusão de lembretes.\n- A remarcação de consultas ocorre somente quando o profissional pede, utilizando as ferramentas de evento para identificar os pacientes e a ferramenta \"Enviar_reagendamento\" para enviar a mensagem.\n- Para a lista de compras e lembretes, sempre use \"Criar_tarefa\".\n- Para a sua resposta que será enviada para o profissional que fez a soliticação, **NÃO UTILIZE FORMATAÇÃO MARKDOWN**.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1820,720],"id":"b7e47f86-a869-4ab1-83e8-cddf58eef1c2","name":"Assistente do escritório interno"},{"parameters":{"content":"## Assistente interno\n","height":560,"width":2460,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,560],"id":"73dc5ef1-5d39-4044-8722-1b61dd84c581","name":"Sticky Note4"},{"parameters":{"content":"[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-ep2&utm_medium=cw-6)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n\n### Siga nosso GitHub\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n","height":440,"width":550,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,100],"id":"341264a9-6d2d-4908-8611-a964754ebfcd","name":"Sticky Note10"},{"parameters":{"content":"## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![IMAGE ALT TEXT HERE](https://i1.ytimg.com/vi_webp/cvTWGNJGAu4/maxresdefault.webp)](https://www.youtube.com/watch?v=cvTWGNJGAu4)","height":440,"width":500,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[560,100],"id":"48746c4e-69aa-470b-a79b-9c8dff1f9ced","name":"Sticky Note13"},{"parameters":{"content":"![Chatwoot](https://app.chatwoot.com/brand-assets/logo_dark.svg)","height":100,"width":280,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[220,400],"id":"bdd33783-3175-4971-9673-53364d923603","name":"Sticky Note23"},{"parameters":{"descriptionType":"manual","toolDescription":"Salva a informação de agendamento enviada, para que a secretária saiba que foi enviada.","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_historico_mensagens","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $fromAI('telefone', 'Telefone do paciente, formatado com apenas números, incluindo código do país. Ex.: \"551112345678\"', 'string') }}","message":"={ \"type\": \"ai\", \"content\": \"{{ $fromAI('message', 'A mesma mensagem enviada para o paciente.', 'string') }}\" }"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1580,960],"id":"6ac6002a-06ce-4b72-a8f6-7182470be83e","name":"Salvar memoria"},{"parameters":{"operation":"getAll","limit":5,"filters":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[2120,960],"id":"bb18488f-8f24-4f3e-b717-f0744e633a8a","name":"Ler emails","webhookId":"dde17a90-60a1-42ad-9a09-06cf2fbb3105"},{"parameters":{"task":"YXdwUHJaRVoxWDdudFNGNg","title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}","additionalFields":{"dueDate":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Due_Date', ``, 'string') }}","notes":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', ``, 'string') }}","status":"needsAction"}},"type":"n8n-nodes-base.googleTasksTool","typeVersion":1,"position":[1980,960],"id":"2e658d40-982a-480a-8a3c-c7e8f1ef1e2e","name":"Criar tarefa"},{"parameters":{"assignments":{"assignments":[{"id":"439cbe58-9652-4831-bf25-f077216f1d55","name":"url_chatwoot","value":"<colar sua url do chatwoot>","type":"string"},{"id":"0a3fa735-aced-46e9-b9de-1734f9f2b537","name":"id_conta","value":"={{ $json.account_id }}","type":"string"},{"id":"2c4f57f2-8175-43e9-8d59-2796b2ebf488","name":"telegram_chat_id","value":"={{ $('Receber Mensagem Telegram').item.json.message.chat.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[580,720],"id":"320d543c-8a61-4fa4-bbc9-b7483285d848","name":"Info"},{"parameters":{},"type":"@devlikeapro/n8n-nodes-chatwoot.chatWoot","typeVersion":1,"position":[360,720],"id":"2d71e4be-5b4f-4f98-b554-252fa7db3c1b","name":"Buscar informações da conta"},{"parameters":{"sessionIdType":"customKey","sessionKey":"assistente_interno","tableName":"n8n_historico_mensagens","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1440,960],"id":"2ed4f758-543d-483d-9cf2-094e69f6c588","name":"Postgres Chat Memory"},{"parameters":{"modelName":"models/gemini-2.5-pro-preview-03-25","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1300,960],"id":"d9c75b6c-28b4-424a-b202-34823dbe27b6","name":"Google Gemini Chat Model"},{"parameters":{"sseEndpoint":"<url do seu MCP Google Calendar>"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[1700,960],"id":"6b2a023d-54d5-4f89-99d7-f3ae95fd0c0c","name":"MCP Google Calendar"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[2260,960],"id":"5538c776-6398-45fc-8ff3-626cdea039c0","name":"Refletir"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Receber Mensagem Telegram').item.json.message.voice }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true},"id":"48feeb05-d1a0-45a7-9e6b-04faef4b5175"}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8cf1a12e-bd0a-4ac6-a33c-6748438c9c8a","leftValue":"={{ $('Receber Mensagem Telegram').item.json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[820,720],"id":"dd8a6eb2-e5bb-4d47-bf0d-53bad7bbc395","name":"Tipo de mensagem"},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"pt"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1320,620],"id":"1dbabd38-ef10-4560-aa79-7c97161e4d63","name":"Transcrever áudio"},{"parameters":{"assignments":{"assignments":[{"id":"45efc554-3f74-4922-a2cf-f64d2ea084c0","name":"mensagem","value":"={{ $('Receber Mensagem Telegram').item.json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1100,820],"id":"36167692-46ee-4ff7-8785-ea4fbbd79445","name":"Set mensagem texto"},{"parameters":{"assignments":{"assignments":[{"id":"0e95db55-1b2e-4762-a547-9481029291e9","name":"mensagem","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1540,620],"id":"59b21d6a-ee8b-4753-8532-54491d005775","name":"Set mensagem áudio"},{"parameters":{"content":"## 6. Assistente interno","height":80,"width":540,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"ed08dcd3-2749-4723-a3fb-0f0f9c3b8e68","name":"Sticky Note30"},{"parameters":{"description":"Use essa ferramenta para enviar as informações de reagendamento no WhatsApp.\n\nO ID da conversa deve ser extraído das informações do evento.","workflowId":{"__rl":true,"value":"<selecione seu workflow>","mode":"list"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensagem":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('mensagem', ``, 'string') }}","id_conversa":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_conversa', ``, 'string') }}","id_conta":"={{ $('Info').item.json.id_conta }}","url_chatwoot":"={{ $('Info').item.json.url_chatwoot }}"},"matchingColumns":[],"schema":[{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conta","displayName":"id_conta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conversa","displayName":"id_conversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"url_chatwoot","displayName":"url_chatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1840,960],"id":"5be299ec-6c60-48a9-bf28-36e245f565d1","name":"Enviar agendamento"},{"parameters":{"resource":"file","fileId":"={{ $('Receber Mensagem Telegram').item.json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1100,620],"id":"5e767f6e-4725-4772-b65b-04bd6f7625e1","name":"Download áudio","webhookId":"9b28d599-c57f-4ecf-94a1-6334f7dabf6d"},{"parameters":{"content":"## [Clique aqui e entre agora para tirar suas dúvidas](https://lucasmoreira.fazer.ai)\n[![Banner comunidade](https://framerusercontent.com/images/KIXMxk9eKCoCsNeVm1oaz5HnaQ.png)](https://lucasmoreira.fazer.ai)","height":440,"width":1380,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1080,100],"id":"faab7e71-f807-48e2-91db-aa58f6c959ba","name":"Sticky Note36"}],"connections":{"Assistente do escritório interno":{"main":[[{"node":"Responder Telegram","type":"main","index":0}]]},"Salvar memoria":{"ai_tool":[[{"node":"Assistente do escritório interno","type":"ai_tool","index":0}]]},"Ler emails":{"ai_tool":[[{"node":"Assistente do escritório interno","type":"ai_tool","index":0}]]},"Criar tarefa":{"ai_tool":[[{"node":"Assistente do escritório interno","type":"ai_tool","index":0}]]},"Info":{"main":[[{"node":"Tipo de mensagem","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Assistente do escritório interno","type":"ai_memory","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Assistente do escritório interno","type":"ai_languageModel","index":0}]]},"MCP Google Calendar":{"ai_tool":[[{"node":"Assistente do escritório interno","type":"ai_tool","index":0}]]},"Refletir":{"ai_tool":[[{"node":"Assistente do escritório interno","type":"ai_tool","index":0}]]},"Tipo de mensagem":{"main":[[{"node":"Download áudio","type":"main","index":0}],[{"node":"Set mensagem texto","type":"main","index":0}]]},"Transcrever áudio":{"main":[[{"node":"Set mensagem áudio","type":"main","index":0}]]},"Set mensagem texto":{"main":[[{"node":"Assistente do escritório interno","type":"main","index":0}]]},"Set mensagem áudio":{"main":[[{"node":"Assistente do escritório interno","type":"main","index":0}]]},"Enviar agendamento":{"ai_tool":[[{"node":"Assistente do escritório interno","type":"ai_tool","index":0}]]},"Download áudio":{"main":[[{"node":"Transcrever áudio","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a695dfee-4aad-48cf-ae12-7edfee50e1e0","triggerCount":0,"tags":[{"createdAt":"2025-07-14T00:41:42.414Z","updatedAt":"2025-07-14T00:41:42.414Z","id":"L0KpKaJENFQc3jai","name":"template"}]}