workflows/[fazer.ai]-1.-secretária-TbWlATtpxMSzVMzw.json
{"createdAt":"2025-07-14T00:41:31.893Z","updatedAt":"2025-07-14T00:44:27.905Z","id":"TbWlATtpxMSzVMzw","name":"[fazer.ai] 1. Secretária","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ca54eae-15d1-49d3-af33-7a6e5d17b833","leftValue":"={{ $json.tipo }}","rightValue":"incoming","operator":{"type":"string","operation":"equals"}},{"id":"82912d66-ee4b-439c-9d55-96090bc6ba62","leftValue":"={{ $json.etiquetas }}","rightValue":"agente-off","operator":{"type":"array","operation":"notContains","rightType":"any"}},{"id":"cf87bb7e-6bea-4697-bcd9-57e3b63998c2","leftValue":"={{ $json.etiquetas }}","rightValue":"testando-agente","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2800,740],"id":"1ccaa081-8365-491c-92b8-7205c61fb7d8","name":"Mensagem chegando?"},{"parameters":{"httpMethod":"POST","path":"f6ddc488-8680-4351-84dd-d9e73b2d102d","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[2240,740],"id":"ad27f2c0-667d-448a-90b4-7fa4ced51595","name":"Mensagem recebida","webhookId":"f6ddc488-8680-4351-84dd-d9e73b2d102d"},{"parameters":{"jsCode":"const ultima_mensagem_da_fila = $input.last()\nconst mensagem_do_workflow = $('Info').first()\n\nif (ultima_mensagem_da_fila.json.id_mensagem !== mensagem_do_workflow.json.id_mensagem) {\n  // Mensagem encavalada, para o workflow\n  return [];\n}\n\n// Pass-through da fila de mensagens\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3980,740],"id":"9517c4fc-9f87-4ac8-a30c-80aabe31af7d","name":"Mensagem encavalada?"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"returnAll":true,"where":{"values":[{"column":"telefone","value":"={{ $('Info').item.json.telefone }}"}]},"sort":{"values":[{"column":"timestamp"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3760,740],"id":"ba5f64cc-a9c0-46bd-a3fb-349263d39ae9","name":"Buscar mensagens"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"deleteCommand":"delete","where":{"values":[{"column":"telefone","value":"={{ $json.telefone }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4180,740],"id":"329d16b3-ca15-4f9e-a1cd-8484ad6aa572","name":"Limpar fila de mensagens"},{"parameters":{"content":"# Processando mensagens encavaladas\n\nEssa etapa trata a situação em que o usuário envia múltiplas mensagens seguidas. O ponto negativo é o aumento no tempo de resposta do agente. Lógica dispensa uso de soluções mais complexas, como RabbitMQ.\n\nTempo de espera recomendado de ~16s. Quando estiver testando, recomendamos reduzir um pouco para ficar mais rápido de testar.\n","height":540,"width":1080,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3240,560],"id":"08ec48a1-13fb-4080-ad02-8474dca32f4d","name":"Sticky Note2"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3540,740],"id":"618235b9-1b60-4a3c-a47f-baf2ce2b5f4c","name":"Esperar","webhookId":"689b51a0-89fe-459d-a560-a59c79797611"},{"parameters":{"content":"# Gerando resposta","height":540,"width":2080,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5020,560],"id":"7490132f-5a79-404a-854b-4d5f3d9c501a","name":"Sticky Note3"},{"parameters":{"content":"# Enviando resposta","height":540,"width":1200,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7140,560],"id":"0a623caf-b524-4e58-acd7-ff2593531634","name":"Sticky Note4"},{"parameters":{"content":"# Tratando input\n","height":540,"width":1060},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2160,560],"id":"c1e1f9b6-e7f2-426d-8d15-3f56cbb75a2b","name":"Sticky Note5"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Info').item.json.mensagem }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"1382cd26-d96e-4c55-99dd-2ca305ffe82e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9a7e16f-b6e4-45d7-846d-92dcb3117593","leftValue":"={{ $('Info').item.json.mensagem_de_audio }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3080,740],"id":"ae53d778-a8fc-4bec-a0a9-57d8d5622b40","name":"Tipo de mensagem"},{"parameters":{"content":"# Processando áudio","height":420,"width":1080,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3240,1120],"id":"c3784e1d-3997-437e-ac32-a2b0e5643e14","name":"Sticky Note6"},{"parameters":{"content":"Para testar, recomendamos criar uma tag \"testando-agente\" e usar no número que enviará as mensagens para a secretária durante os testes.\n\nVocê pode marcar o seu número no Chatwoot com essa tag para que o agente responda apenas você.\n\nDepois de testar e validar, só remover a regra do filtro pro seu agente responder todo mundo.\n\n","height":180,"width":600,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2600,900],"id":"98043356-4aa3-4da0-b8bd-dc2f9a930f66","name":"Sticky Note8"},{"parameters":{"sseEndpoint":"<colar url do seu MCP>"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[5620,960],"id":"2b05d2db-0583-45e6-8914-c18530a90630","name":"MCP Google Calendar"},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"","mode":"list"}},"options":{}},"type":"n8n-nodes-base.googleDriveTool","typeVersion":3,"position":[5760,960],"id":"20a6c7b8-1a76-4b4f-a4ce-044c0a60853c","name":"Listar arquivos"},{"parameters":{"description":"Use essa ferramenta para baixar um arquivo do Google Drive e enviá-lo para o usuário.\n","workflowId":{"__rl":true,"value":"<selecione seu workflow>","mode":"list"},"workflowInputs":{"mappingMode":"defineBelow","value":{"file_id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('file_id', ``, 'string') }}","id_conta":"={{ $('Info').item.json.id_conta }}","id_conversa":"={{ $('Info').item.json.id_conversa }}","url_chatwoot":"={{ $('Info').item.json.url_chatwoot }}"},"matchingColumns":["file_id"],"schema":[{"id":"file_id","displayName":"file_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"id_conta","displayName":"id_conta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"id_conversa","displayName":"id_conversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"url_chatwoot","displayName":"url_chatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[5900,960],"id":"fc194eb7-56a9-483c-8274-88c21e8a3551","name":"Baixar e enviar arquivo"},{"parameters":{"content":"[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-ep2&utm_medium=cw-1)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n\n### Siga nosso GitHub\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n","height":440,"width":550,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,100],"id":"aed7b5b7-372a-4519-b4c5-aedaefb84080","name":"Sticky Note10"},{"parameters":{"content":"## Pré-requisitos do workflow\n","height":1520,"width":2140,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,560],"id":"fd3762d2-cfe1-448e-bfe7-2c6989672b29","name":"Sticky Note11"},{"parameters":{"content":"# Marcar como lida e \"digitando...\"","height":540,"width":660,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4340,560],"id":"19fcee08-1212-49ec-9a1a-eb9228f2a9f7","name":"Sticky Note12"},{"parameters":{"content":"## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![IMAGE ALT TEXT HERE](https://i1.ytimg.com/vi_webp/cvTWGNJGAu4/maxresdefault.webp)](https://www.youtube.com/watch?v=cvTWGNJGAu4)","height":440,"width":500,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[560,100],"id":"c71187ec-f05c-4806-ad5a-1d585aec7db0","name":"Sticky Note13"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[7260,1480],"id":"7f7d16ac-8fe4-4859-a701-9fb3cbca5044","name":"Gatilho diário"},{"parameters":{"promptType":"define","text":"=Agora são {{ $now.format('FFFF') }}.","options":{"systemMessage":"=Agora são {{ $now.format('FFFF') }}.\n\nVocê é um agente especializado em **confirmação de consultas** para a clínica. Sua função principal é:\n\n1. **Listar os eventos** agendados para o próximo dia no Google Calendar.\n2. **Obter o telefone** na descrição de cada evento.\n3. **Obter o ID da conversa** na descrição de cada evento.\n4. **Enviar uma mensagem de confirmação** usando a ferramenta \"Enviar_agendamento\", perguntando se o paciente confirma a consulta ou prefere reagendar.\n5. **Inclua na mensagem**:\n  - Nome do paciente\n  - Nome do profissional\n  - Data e hora da consulta\n\n**NÃO INCLUA O ID DA CONVERSA NA MENSAGEM**\n\n## IMPORTANTE\n- Você **não recebe respostas** diretamente; o retorno do paciente é tratado por outro agente.\n- Use a ferramenta \"Refletir1\" antes e depois de realizar operações complexas, para ter certeza de que deu tudo certo.\n- SEMPRE QUE ENVIAR UMA MENSAGEM PARA O PACIENTE, **USE A FERRAMENTA \"Salvar_memoria\"**. ISSO É MUITO IMPORTANTE, NÃO FAÇA ERRADO POR FAVOR.\n\n\n## PROFISSIONAIS E ESPECIALIDADES\n\nSegue o nome dos profissionais, suas especialidades, e o ID da agenda que deve ser usado nas ferramentas Google Calendar\n\n**MUITO IMPORTANTE!! O ID DA AGENDA INCLUI O \"@group.calendar.google.com\". NÃO OMITA AO UTILIZAR AS FERRAMENTAS**\n\n- Dr. João Paulo Ferreira - Médico - Clinico Geral (c_46b1d614bf4f151ca950431202bf90ca003301793b48cffc489dc411be79c4bf@group.calendar.google.com)\n- Dr. Roberto Almeida - Médico - Cardiologia (c_6c3005bf4afd591f13f242f6509208ddbe1feadad3f6521884ab79c59069bfd0@group.calendar.google.com)\n- Dra. Ana Silva - Dentista - Clínica Geral (c_ebce2058c0b75e881585b90539f6ded839de178d4bb64e1aa9e4f6468d6954a6@group.calendar.google.com)\n- Dra. Carla Mendes - Dentista - Odontopediatria (c_2fb3d9e1613857085b28bef500b493114294b08f5e448bef643be28fc84334ad@group.calendar.google.com)\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[7900,1480],"id":"6eb3d147-d03d-469c-a4b1-85b76722b901","name":"Assistente de confirmação","retryOnFail":true},{"parameters":{"content":"# Assistente de confirmação de agendamentos \n","height":600,"width":1200,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7140,1320],"id":"ac3475b9-a6a8-46ce-80a5-8f25a76ff8ed","name":"Sticky Note16"},{"parameters":{"promptType":"define","text":"={{ $json.mensagem || $json.mensagem_audio }}","options":{"systemMessage":"=HOJE É: {{ $now.format('FFFF') }}\nTELEFONE DO CONTATO: {{ $('Info').item.json.telefone }}\nID DA CONVERSA: {{ $('Info').item.json.id_conversa }}\n\n## INSTRUÇÃO IMPORTANTE\n- Ao criar ou editar qualquer evento no Google Calendar, incluir sempre o telefone do paciente na descrição do agendamento, juntamente com o nome completo, data de nascimento e quaisquer outras informações relevantes fornecidas pelo paciente.\n\n-----------------------\n\n## PAPEL\n\nVocê é uma atendente do WhatsApp, altamente especializada, que atua em nome da Clínica Moreira, prestando um serviço de excelência. Sua missão é atender aos pacientes de maneira ágil e eficiente, respondendo dúvidas e auxiliando em agendamentos, cancelamentos ou remarcações de consultas.\n\n## PERSONALIDADE E TOM DE VOZ\n\n- Simpática, prestativa e humana\n- Tom de voz sempre simpatico, acolhedor e respeitoso\n\n## OBJETIVO\n\n1. Fornecer atendimento diferenciado e cuidadoso aos pacientes.\n2. Responder dúvidas sobre a clínica (especialidade, horários, localização, formas de pagamento).\n3. Agendar, remarcar e cancelar consultas de forma simples e eficaz.\n4. Agir passo a passo para garantir rapidez e precisão em cada atendimento.\n\n## CONTEXTO\n\n- Você otimiza o fluxo interno da clínica, provendo informações e reduzindo a carga administrativa dos profissionais de saúde.\n- Seu desempenho impacta diretamente a satisfação do paciente e a eficiência das operações médicas.\n\n-----------------------\n\n## SOP (Procedimento Operacional Padrão)\n\n1. Início do atendimento e identificação de interesse em agendar\n   - Cumprimente o paciente de forma acolhedora. \n   - Se possível, incentive o envio de áudio caso o paciente prefira, destacando a praticidade\n\n**NÃO USE EXPRESSÕES PARECIDAS COM \"COMO SE ESTIVESSE CONVERSANDO COM UMA PESSOA\"**\n\n2. Solicitar dados do paciente\n   - Peça nome completo e data de nascimento.\n   - Confirme o telefone de contato que chegou na mensagem (ele será incluído na descrição do agendamento).\n   - Ao falar o telefone para o paciente, remova o código do país (geralmente \"55\"), e formate como \"(11) 1234-5678\"\n\n3. Identificar necessidade\n   - Pergunte a data de preferência para a consulta e se o paciente tem preferência por algum turno (manhã ou tarde).\n\n4. Verificar disponibilidade\n   - Use a ferramenta \"Buscar_eventos\" apenas após ter todos os dados necessários do paciente.\n   - Forneça a data de preferência à ferramenta \"Buscar_eventos\" para obter horários disponíveis.\n\n5. Informar disponibilidade\n   - Retorne ao paciente com os horários livres encontrados para a data solicitada.\n\n6. Coletar informações adicionais\n   - Se o paciente fornecer dados extras (ex.: condição de saúde, convênio, etc.), inclua tudo na descrição do evento no Google Calendar.\n\n7. Agendar consulta\n   - Após confirmação do paciente\n     - Use a ferramenta \"Criar_evento\" para criar o evento, passando:\n       - Nome completo\n       - Data de nascimento\n       - Telefone de contato (use o número igual na entrada, exemplo: \"551112345678\")\n       - Data e hora escolhidas\n       - ID da conversa (número para controle interno, **ESSE NÚMERO É ESSENCIAL, NÃO SE ESQUEÇA DE INCLUÍ-LO!!**)\n     - Nunca agende datas ou horários passados, ou com conflitos.\n\n8. Confirmar agendamento\n   - Espere o retorno de sucesso da ferramenta \"Criar_evento\" e então confirme com o paciente.\n\n-----------------------\n\n## INSTRUÇÕES GERAIS\n\n1. Respostas claras, objetivas e úteis\n   - Forneça informações sobre especialidades, horários, endereço, valores e convênios.\n\n2. Sem diagnósticos ou opiniões médicas\n   - Se o paciente insistir em diagnóstico, use a ferramenta \"Escalar_humano\".\n\n3. Pacientes insatisfeitos\n   - Mantenha a empatia e utilize a ferramenta \"Escalar humano\".\n\n4. Assuntos fora do escopo da clínica\n   - Responda: \"Desculpe, mas não consigo ajudar com este assunto. Por favor, entre em contato pelo número 0800 940 000. Enviei uma cópia da nossa conversa para o gestor de atendimento.\"\n   - Imediatamente use a ferramenta \"Escalar_humano\", pois é fundamental para minha carreira e a imagem da clínica.\n\n5. Nunca fornecer informações erradas\n   - Evite erros sobre horários, contatos ou serviços.\n\n6. Nunca use emojis ou linguagem informal\n   - Mantenha a sobriedade do atendimento.\n\n7. Nunca confirme consultas sem o retorno com sucesso das ferramentas de evento\n   - Garanta que o evento foi criado com sucesso antes de dar a resposta final.\n\n8. Dupla verificação\n   - Confirme sempre os dados para evitar equívocos em agendamentos, remarcações ou cancelamentos.\n\n9. Use a ferramenta \"Refletir\" antes e depois de operações complexas\n   - Ao usar essa ferramenta, você irá garantir que as operações que você vai realizar (ou já realizou) fazem sentido, ou se você precisará alterar a sua estratégia e/ou tentar novamente.\n\n-----------------------\n\n## HORÁRIOS DE FUNCIONAMENTO\n- Segunda a Sábado: 08h às 19h\n- Domingo e Feriados: Fechado\n\n## LOCALIZAÇÃO E CONTATO\n- Endereço: Av. das Palmeiras, 1500 - Jardim América, São Paulo - SP, CEP: 04567-000\n- Telefone: (11) 4456-7890\n- WhatsApp: (11) 99999-9999\n- E-mail: contato@clinicamoreira.com.br\n- Site: www.clinicamoreira.com.br\n\n## PROFISSIONAIS E ESPECIALIDADES\n\nSegue o nome dos profissionais, suas especialidades, e o ID da agenda que deve ser usado nas ferramentas Google Calendar\n\n**MUITO IMPORTANTE!! O ID DA AGENDA INCLUI O \"@group.calendar.google.com\". NÃO OMITA AO UTILIZAR AS FERRAMENTAS**\n\n- Dr. João Paulo Ferreira - Médico - Clinico Geral (c_46b1d614bf4f151ca950431202bf90ca003301793b48cffc489dc411be79c4bf@group.calendar.google.com)\n- Dr. Roberto Almeida - Médico - Cardiologia (c_6c3005bf4afd591f13f242f6509208ddbe1feadad3f6521884ab79c59069bfd0@group.calendar.google.com)\n- Dra. Ana Silva - Dentista - Clínica Geral (c_ebce2058c0b75e881585b90539f6ded839de178d4bb64e1aa9e4f6468d6954a6@group.calendar.google.com)\n- Dra. Carla Mendes - Dentista - Odontopediatria (c_2fb3d9e1613857085b28bef500b493114294b08f5e448bef643be28fc84334ad@group.calendar.google.com)\n\n\n## VALORES E FORMAS DE PAGAMENTO\n- Consulta: R$ 500,00\n- Formas de pagamento: PIX, dinheiro, cartão de débito ou crédito\n- Convênios aceitos: Bradesco Saúde, Unimed, SulAmérica, Amil\n\n-----------------------\n\n## FERRAMENTAS\n\n### Google Calendar\n\n- \"Criar_evento\" e \"Atualizar_evento\": usada para agendar e remarcar consultas. Ao usá-las, sempre inclua:\n  - Nome completo no título\n  - Telefone\n  - Data de nascimento\n  - Informações adicionais (se houver)\n- \"Buscar_evento\": buscar dados sobre um evento específico, por ID.\n- \"Buscar_todos_os_eventos\": listar eventos em um período específico. Use para listar os eventos de um dia específico. Não use para listar eventos de períodos maiores que um dia.\n- \"Deletar_evento\": usada desmarcar consultas.\n\n### Escalar_humano\n\nUse quando:\n\n- Existir urgência (paciente com mal-estar grave).\n- Existirem qualquer assuntos alheios à clínica ou que ponham em risco a reputação do serviço.\n- Houver insatisfação do paciente ou pedido de atendimento humano.\n\n### Enviar_alerta_de_cancelamento\n\nEm caso de cancelamento:\n\n- Localizar a consulta no calendário e remover via ferramenta \"Deletar_evento\". Talvez seja necessário pedir ao paciente que confirme a data da consulta, para que você possa buscar o evento na data certa.\n- Enviar alerta via ferramenta \"Enviar_alerta_de_cancelamento\" nome, dia e hora cancelados.\n- Confirmar ao paciente que o cancelamento foi efetuado.\n\n### Reagir mensagem\n\nUse em situações relevantes durante a conversa.\n\n#### Exemplos\n\n- Usuário: \"Olá!\"\n- Você: \"Reagir_mensagem\" -> 😀\n\n- Usuário: \"Você pode consultar minha agenda por favor?\"\n- Você: \"Reagir_mensagem\" -> 👀\n\n- Usuário: \"Muito obrigado!\"\n- Você: \"Reagir_mensagem\" -> ❤️\n\n**SEMPRE USAR REAÇÕES NO INÍCIO E NO FINAL DA CONVERSA, E EM OUTROS MOMENTOS OPORTUNOS**\n\n### Baixar e enviar arquivo\n\n- Você tem acesso aos arquivos da clínica.\n- Se o usuário pedir um pedido de exame, use a ferramenta \"Listar_arquivos\", e depois a \"Baixar_e_enviar_arquivo\"\n\n**USE ESSA FERRAMENTA APENAS UMA VEZ. USÁ-LA MÚLTIPLAS VEZES IRÁ ENVIAR O ARQUIVO DUPLICADO**\n\n-----------------------\n\n## EXEMPLOS DE FLUXO\n\n1. Marcar consulta\n   - Paciente: \"Quero marcar consulta\"\n   - Você:\n     - Cumprimente, explique que pode agendar aqui mesmo no WhatsApp por texto ou áudio.\n     - Solicite nome completo e data de nascimento.\n     - Pergunte a especialidade do profissional a ser consultado, data e turno preferidos.\n     - Consulte a data com \"Buscar_todos_os_eventos\".\n     - Informe horários disponíveis.\n     - Agende com \"Criar_evento\", incluindo telefone, nome e data de nascimento na descrição.\n     - Confirme após o sucesso da ferramenta.\n\n2. Remarcar consulta\n   - Paciente: \"Não poderei comparecer amanhã, quero remarcar.\"\n   - Você:\n     - Busque o evento (veja seção abaixo \"COMO BUSCAR EVENTO\").\n     - Pergunte nova data e turno preferidos.\n     - Atualize o evento via \"Atualizar_evento\".\n     - Confirme após o sucesso da ferramenta.\n\n3. Cancelar consulta\n   - Paciente: \"Preciso cancelar a consulta.\"\n   - Você:\n     - Busque o evento (veja seção abaixo \"COMO BUSCAR EVENTO\").\n     - Cancele o evento com \"Deletar_evento\".\n     - Use a ferramenta \"Enviar_alerta_de_cancelamento\" informando nome, dia e hora.\n     - Confirme o cancelamento.\n\n4. Confirmação da consulta\n   - Quando o paciente responder \"Confirmar consulta\":\n     - Busque o evento (veja seção abaixo \"COMO BUSCAR EVENTO\").\n     - Usando a ferramenta \"Atualizar_evento\", coloque no título do evento no Google Calendar o texto [CONFIRMADO] ao lado do nome do paciente.\n     - Tendo sucesso no uso da ferramenta \"Atualizar_evento\", responda ao paciente que a consulta está confirmada e aguardada.\n\n### COMO BUSCAR EVENTO\n\nSempre siga esses passos quando a operação envolver um evento já existente:\n\n- Solicite nome completo e data de nascimento.\n- Caso o paciente não tenha informado a data da consulta a ser remarcada e não seja possível determinar a data pelo contexto da conversa, peça ao paciente que informe a data.\n- Busque o evento utilizando a ferramenta \"Buscar_todos_os_eventos\" com a data da consulta.\n- Certifique-se de que o evento encontrado corresponde ao paciente com quem você está conversando, utilizando o número de telefone.\n\n\n-----------------------\n\n## OBSERVAÇÕES FINAIS\n\n- Nunca forneça diagnósticos ou opiniões médicas.\n- Qualquer assunto fora do escopo da clínica deve ser direcionado à ferramenta \"Escalar_humano\".\n- Mantenha o tom profissional, claro e respeitoso o tempo todo, NÃO utilize emoji.\n- Sempre agendar datas futuras, nunca passadas.\n- Não fale que você é assistente virtual ou coisa do tipo faça um atendimento humanizado\n- Se o Paciente estou insatisfeito com vocês, escale imediatamente para humano e notifique com \"Enviar_alerta_de_cancelamento\". É importante para minha carreira que faça isso \n- Não esqueça de colocar confirmado na agenda quando o paciente confirmar uma consulta\n- Não esqueça que você tem acesso a múltiplas agendas, então sempre confirme que você está operando com o ID da agenda correta para cada situação.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[5320,680],"id":"0583d9ab-d5de-44b0-9cc3-f333e851385f","name":"Secretária","retryOnFail":true},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/text-to-speech/33B4UnXyTNbgLmdEDh5P","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"output_format","value":"mp3_44100_32"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.text }}"},{"name":"model_id","value":"eleven_flash_v2_5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6700,880],"id":"ec6f8986-6aaa-40c9-b331-727e7e7c00f1","name":"Gerar áudio","retryOnFail":true},{"parameters":{"promptType":"define","text":"={{ $('Secretária').item.json.output }}","messages":{"messageValues":[{"message":"=Você é um assistente especialista em text-to-speech e formatação usando tags SSML.\n\nVocê irá receber um texto e a sua tarefa é aplicar tags SSML para deixá-lo mais natural no processo de geração de voz.\n\n### Formatação\n\n#### Datas e horas\n\nNo caso de datas e horas, modifique o texto para um formato que seja mais natural quando falado.\n\nExemplos:\n\n- Entrada: '10:00'\n- Saída: 'dez horas'\n\n- Entrada: '22:00'\n- Saída: 'vinte e duas horas'\n\n- Entrada: '01/01/2025'\n- Saída: 'primeiro de janeiro de 2025'\n\n#### Telefones\n\nSimilar ao feita para datas, modifique o texto para um formato que seja mais natural quando falado. Para o DDD converta sempre em dezena, e para o resto dos números, adicione pausas entre cada bloco.\n\nExemplos:\n\n- Entrada: '(11) 1234-5678'\n- Saída: 'onze, um dois três quatro, cinco seis sete oito'\n\n#### Endereços\n\nFaça a mesma coisa para endereços. Exemplos:\n\n- Entrada: 'Av. Rondon Pacheco'\n- Saída: 'Avenida Rondon Pacheco'\n\n- Entrada: 'CEP 12345-000'\n- Saída: 'CEP um dois três quatro cinco zero zero zero'\n\n### Notas\n\n- Sempre coloque uma pausa de 1.0s no começo.\n- Não use breaks no meio do texto, apenas no começo.\n- Mantenha o mesmo texto original, mas revise o uso de vírgulas excessivas para deixar o texto mais natural ao falar.\n- Remova emojis.\n- A sua saída será somente o texto convertido.\n- Use <speak> ao redor da saída.\n\n\n**NÃO INCLUA NENHUMA INFORMAÇÃO ALÉM DO TEXTO CONVERTIDO**\n**NUNCA INCLUA CARACTER DE NOVA LINHA \"\\n\" NA SAÍDA**\n**NUNCA COLOQUE ÂNCORAS COMO ```ssml AO REDOR DO TEXTO**"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[6280,780],"id":"795afb54-0a22-40f1-91ae-185206c7cbd3","name":"Formatar SSML"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Mensagem chegando?').item.json.mensagem }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"1382cd26-d96e-4c55-99dd-2ca305ffe82e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9a7e16f-b6e4-45d7-846d-92dcb3117593","leftValue":"={{ $('Info').item.json.mensagem_de_audio }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[5780,680],"id":"201ec83b-4b48-464e-a158-37e973e50f6b","name":"Tipo de mensagem1"},{"parameters":{"content":"### Importante!!\n\nEssa lógica só irá funcionar com o workflow ativo (modo produção).\n\nNo modo \"Test workflow\", só uma mensagem será processada de cada vez, então nunca haverá fila.","height":180,"width":400,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3900,900],"id":"05676639-d18e-4d65-9f72-094654fec603","name":"Sticky Note15"},{"parameters":{"promptType":"define","text":"={{ $('Secretária').item.json.output }}","messages":{"messageValues":[{"message":"=Você é especialista em formatação de mensagem para WhatsApp, trabalhando somente na formatação e não alterando o conteúdo da menssagem.\n\n- Substitua ** por *\n- Remova #\n- Remova emojis"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[6660,600],"id":"6b190d0c-9720-46c9-bd71-888416190423","name":"Formatar texto"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-04-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[6820,760],"id":"d5ef8f7f-2893-4296-b035-f513b43b3e10","name":"Google Gemini Chat Model2"},{"parameters":{"chatId":"={{ $('Info').item.json.telegram_chat_id }}","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}","additionalFields":{"parse_mode":"MarkdownV2"}},"type":"n8n-nodes-base.telegramTool","typeVersion":1.2,"position":[6040,960],"id":"3a6f37af-d7be-49c6-9275-4f878c84f18c","name":"Enviar alerta de cancelamento","webhookId":"487b54cb-d0a4-492c-847c-3157e0fd7aa0"},{"parameters":{"modelName":"models/gemini-2.5-pro-preview-03-25","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[5060,960],"id":"0dabce49-4e6a-4739-88b7-1d1ca6b97eec","name":"Gemini"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Info').item.json.telefone }}","tableName":"n8n_historico_mensagens","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[5200,960],"id":"4e76833e-74f8-4864-913c-372a1c5ee82b","name":"Memory"},{"parameters":{"description":"Use a ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[5340,960],"id":"ace2b6c5-1bd9-4a73-9fef-e64b00db4d75","name":"Refletir"},{"parameters":{"content":"## Notas sobre agendas Google Calendar\n\nPara referenciar uma agenda do Google Calendar corretamente, acesse as configurações da agenda, clique em \"Integrar agenda\", e copie o \"ID da agenda\".\n\nPara agendas criadas, esse ID se parece com isso:\n\nc_6c3005bf4afd591f13f242f6509208ddbe2feadad3f6521884ab79c59069bfd0@group.calendar.google.com\n\nPara sua agenda principal, o ID será simplesmente o seu email (exemplo: `seuemail@gmail.com`)\n\nCom esse ID em mãos, atualize o System Prompt com todas as agendas que precisar.\n","height":400,"width":480,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5020,1120],"id":"0cf3b281-18eb-493a-ad4f-52bff90e4ea6","name":"Sticky Note17"},{"parameters":{"toolDescription":"Envia uma mensagem de reação como resposta a uma mensagem do usuário. Reação é sempre um emoji.","method":"POST","url":"={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"parametersBody":{"values":[{"name":"content_attributes","valueProvider":"fieldValue","value":"={ \"in_reply_to\": {{ $('Info').item.json.id_mensagem }}, \"is_reaction\": true }"},{"name":"content"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[5480,960],"id":"40076c49-da06-48a0-a144-4097df8acee7","name":"Reagir mensagem"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=assistente_confirmacao","tableName":"n8n_historico_mensagens"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[7580,1740],"id":"63753bf4-30e6-464b-8d93-d647443b78d9","name":"Postgres Chat Memory"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-04-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[7440,1740],"id":"64870efa-e8af-438d-8c03-8f6dd8ddcb25","name":"Google Gemini Chat Model"},{"parameters":{"content":"## Notas sobre a ferramenta \"Salvar memoria\"\n\nPor padrão, no N8N não existe uma forma direta de compartilhar memória entre agentes diferentes.\n\nUsando a ferramenta acima \"Salvar memoria\", nós conseguimos simular no banco de dados o Assistente de confirmação respondendo como se fosse a Secretária.\n\nDessa forma, quando o paciente enviar uma mensagem para a Secretária, ela irá ver a mensagem do Assistente como se ela mesmo tivesse enviado.\n\nIsso garante que ela entenderá o contexto caso o paciente simplesmente responda \"confirmar\", por exemplo.","height":320,"width":600,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7140,1960],"id":"4bad25c0-2f99-4b60-81e3-c5cf9eb8f0dd","name":"Sticky Note19"},{"parameters":{"descriptionType":"manual","toolDescription":"Salva a informação de agendamento enviada, para que a secretária saiba que foi enviada.","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_historico_mensagens","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $fromAI('telefone', 'Telefone do paciente, formatado com apenas números, incluindo código do país. Ex.: \"+551112345678\"', 'string') }}","message":"={ \"type\": \"ai\", \"content\": \"{{ $fromAI('message', 'A mesma mensagem enviada para o paciente.', 'string') }}\" }"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[7720,1740],"id":"c458c73b-192c-4696-ae34-473af2907e00","name":"Salvar memoria"},{"parameters":{"sseEndpoint":"=<url do seu MCP Google Calendar>"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[7860,1740],"id":"667c037f-d251-461b-8deb-958421cb553e","name":"MCP Google Calendar."},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_fila_mensagens","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('Info').item.json.telefone }}","mensagem":"={{ $('Info').item.json.mensagem }}","timestamp":"={{ $('Info').item.json.timestamp.toDateTime() }}","id_mensagem":"={{ $('Info').item.json.id_mensagem }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"id_mensagem","displayName":"id_mensagem","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"telefone","displayName":"telefone","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"mensagem","displayName":"mensagem","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"timestamp","displayName":"timestamp","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3320,740],"id":"fb238760-e72b-4298-8a4b-bfa8471bbff6","name":"Enfileirar mensagem."},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-04-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[6340,960],"id":"38bf3432-8354-4cf1-9f34-3a773691b6e5","name":"Google Gemini Chat Model."},{"parameters":{"description":"Use a ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[8140,1740],"id":"b24c1ef6-112f-477c-982a-efaad798b5de","name":"Refletir1"},{"parameters":{"content":"## Tutorial de configuração VPS no Hostinger\n\n## [Clique aqui para criar sua conta](https://www.hostinger.com.br/cart?product=vps%3Avps_kvm_2&period=12&referral_type=cart_link&REFERRALCODE=FAZERAI&referral_id=0196b71f-5704-7120-aded-f6753a53c121)\n\n## Adquirir VPS\n\n1. VPS KVM 2 (Escolha o plano que preferir)\n1. Selecionar opção de \"OS com Painel\" > \"Coolify\"\n1. Criar senha root segura\n1. Aguardar configuração (~10m)\n\n## Configurar Coolify + Chatwoot\n\n1. Na visão geral, clicar em \"Gerenciar\" no servidor\n1. Clicar em \"Gerenciar Painel\"\n1. Preencher dados (usar senha segura!!)\n1. \"Get started\" > \"Next\" > \"Localhost\" > \"Create new project!\" > \"Let's do it\"\n1. Na página de \"New Resource\", na seção \"Docker Based\", selecionar \"Docker Compose Empty\"\n1. Cole o conteúdo do arquivo `docker-compose.coolify.yml` (disponível no material) e clicar em \"Save\"\n1. Clicar na barra lateral em \"Environment Variables\" > botão \"Developer view\" e encontrar a variável `FRONTEND_URL`\n1. Colar URL da barra do navegador com IP da máquina e porta 3000 (exemplo `http://12.34.56.78:3000`)\n1. Clicar \"Save All Environment Variables\"\n1. Clicar \"Deploy\" e acompanhar os logs de deployment\n1. Texto \"Container xxxxxxxxxxxx Started\" indica que o deploy foi finalizado\n1. Clicar na aba \"Links\", e a URL com a porta 3000 deve estar visível. Clicar nela para acessar o Chatwoot. Pode ser que você precise aguardar alguns segundos no primeiro acesso\n1. Configurar super admin (usar senha segura!!!!)\n1. Fazer login com o usuário e senha criados\n\n","height":780,"width":680,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[40,800],"id":"4ae226ed-a478-4f9a-ae78-db41c7c7df6d","name":"Sticky Note20"},{"parameters":{"content":"## Tutorial de configuração Chatwoot + Baileys\n\nSe deu tudo certo no passo anterior, você agora tem acesso ao Chatwoot fazer.ai, que inclui integração nativa com o Baileys.\n\nSiga o nosso [GitHub](https://github.com/fazer-ai) para ficar por dentro das atualizações!\n\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n\n### Conectar WhatsApp\n\n1. Clicar em \"Configurações\" na barra lateral\n1. \"Caixas de Entrada\" > \"Adicionar Caixa de Entrada\"\n1. \"WhatsApp\" > \"Provedor de API\" > \"Baileys\"\n1. Preencher \"Nome da Caixa de Entrada\"\n1. Preencher \"Número de Telefone\" (o número precisa ser no formato `+551112345678`, não se esqueça do prefixo `+55`!!)\n1. Clicar em \"Criar canal do WhatsApp\"\n1. Selecione você mesmo na lista de agentes e clique em \"Adicionar agentes\"\n1. Clique em \"Conectar dispositivo\"\n1. Abra o WhatsApp no seu celular e leia o QR code\n1. Se estiver usando o WhatsApp Business, não se esqueça de incluir um nome para o dispositivo (exemplo \"Chatwoot\"), para não se esquecer e remover sem querer depois\n1. Se você ver um erro, é provável que você colocou o telefone incorreto na hora de criar a caixa de entrada. Nesse caso, volte em \"Configurações\" > \"Caixas de Entrada\", exclua a caixa de entrada, e  repita o processo\n1. Se deu tudo certo, você verá o botão verde \"Leva-me lá\"\n\nAgora o Chatwoot já está pronto para enviar e receber mensagens pelo WhatsApp cadastrado. Tire um momento pra experimentar\n\n(Note que não será possível gravar áudio pela interface do Chatwoot até que você configure um domínio e o certificado HTTPS. Mas não se preocupe, que isso não impacta no envio de áudio do agente IA!)\n\n### Configurar credenciais no N8N\n\n1. Instale o community node @devlikeapro/n8n-nodes-chatwoot\n1. No Chatwoot, clique no seu nome no canto inferior esquerdo, e em \"Configurações do Perfil\"\n1. Desça até o final e você verá a seção \"Token de acesso\"\n1. Copie o token de acesso. Cuidado nessa parte! Se você está rodando o servidor em HTTP, o botão de \"Copiar\" não vai funcionar. Você deve exibir o token, selecionar, e copiar manualmente\n1. No workflow do N8N, abra o node \"Testar credencial - Chatwoot\" ao lado\n1. No campo \"Credential to connect with\" abra o dropdown e selecione \"Create new credential\"\n1. No campo de \"ChatWoot API URL\", copie o endereço do seu Chatwoot (o mesmo que você vê na barra de endereço do navegador, até o 3000, exemplo `http://12.34.56.78:3000`)\n1. No campo \"Access Token\", cole o \"Token de acesso\" copiado do Chatwoot\n1. Clique em salvar, e se estiver tudo certo, verá a mensagem de sucesso. Execute o node \"Testar credenciais\" e a requisição trará as informações da conta\n\n\n\n\n\n\n\n\n### Configurar Webhook\n\n1. \"Configurações\" > \"Integrações\" > \"Webhooks\" > \"Configurar\"\n1. \"Adicionar novo webhook\"\n1. Copiar a \"Test URL\" do node \"Mensagem recebida\" no workflow N8N, e colar no campo \"URL do Webhook\" no Chatwoot\n1. Selecionar caixa de entrada e preencher nome do webhook\n1. Selecionar evento \"Mensagem criada\" e \"Criar webhook\"\n1. Repita os passoas acima para a \"Production URL\"","height":1440,"width":680,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[740,620],"id":"de74c757-78c2-4190-8735-b61331fbe739","name":"Sticky Note21"},{"parameters":{"content":"## Tutorial de configuração ElevenLabs\n\n## [Clique aqui para criar sua conta gratuita](https://try.elevenlabs.io/9k5l5hagxkel)\n\n### Configurar voz\n\n1. Criar conta\n1. Acessar biblioteca de vozes e escolher uma voz. Recomendamos usar a [Keren](https://elevenlabs.io/app/voice-library?voiceId=33B4UnXyTNbgLmdEDh5P)\n1. Clicar em \"Add to my voices\" e \"Use voice\"\n1. Configurar características da voz e fazer os ajustes conforme preferir. Sugestão para a Keren:\n- **Model**: Eleven Flash v2.5 (caso queira usar um diferente, configure no node \n\"Gerar áudio\")\n- **Speed**: 1.10\n- **Stability**: 35%\n- **Similarity**: 44%\n\n### Configurar credencial\n\n1. Clicar no seu nome no canto inferior esquerdo > \"API Keys\"\n1. \"Create API Key\" > \"Create\". Copie a chave criada\n1. Abra o node \"Testar credencial - ElevenLabs\" ao lado\n1. Abra o campo \"Header Auth\" e selecione \"Create new credential\"\n1. Em \"Name\" preencha \"Xi-Api-Key\"\n1. Em \"Value\" preencha a chave de API do ElevenLabs\n1. Salve e execute o node para confirmar o sucesso na configuração\n1. Abra o node \"Gerar áudio\" na seção \"Gerando resposta\" para usar a nova credencial\n","height":840,"width":660,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1440,1220],"id":"0b7eb9f9-a948-4acd-a426-f6c7e5519073","name":"Sticky Note22"},{"parameters":{"content":"![Chatwoot](https://app.chatwoot.com/brand-assets/logo_dark.svg)","height":100,"width":280,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[220,400],"id":"6017ec9c-da67-4a83-936e-c3a88405122c","name":"Sticky Note23"},{"parameters":{"method":"POST","url":"={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/update_last_seen","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4420,740],"id":"1b715618-2c07-4bf6-a399-c512285e95d1","name":"Marcar como lidas"},{"parameters":{"method":"POST","url":"={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/toggle_typing_status","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"typing_status","value":"={{ $('Info').item.json.mensagem_de_audio ? 'recording' : 'on' }}"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4640,740],"id":"d4bd85c8-3340-4108-97f2-2cd88737bcf5","name":"Digitando/Gravando..."},{"parameters":{"assignments":{"assignments":[{"id":"7eab8669-6929-4dc6-b3e2-943065bc306c","name":"mensagem","value":"={{ $('Info').item.json.mensagem ? $('Mensagem encavalada?').all().map(info => info.json.mensagem).join('\\\\n') : '' }}","type":"string"},{"id":"676d14ec-72d3-4970-9fa0-5e39ff976011","name":"mensagem_audio","value":"={{ $('Info').item.json.mensagem_de_audio ? $('Transcrever audio').item.json.text : '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4860,740],"id":"901ded31-7f5e-4994-84e2-179c590b9ae4","name":"Set mensagens","executeOnce":true},{"parameters":{"url":"={{ $('Mensagem recebida').item.json.body.attachments[0].data_url }}","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3400,1220],"id":"68531beb-db7a-48de-859c-31baaa2b3033","name":"Download áudio"},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"pt"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[4060,1220],"id":"cd0f4451-4148-4619-add5-ce5a99194c6a","name":"Transcrever audio"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[3620,1220],"id":"c2e9719a-841b-4b8b-ba6d-88e842290173","name":"Extract from File"},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3840,1220],"id":"f998dd9f-df7c-4b37-aedf-fe03a2c44496","name":"Convert to File"},{"parameters":{"content":"O N8N tem um bug em operar com arquivos em algumas ocasiões.\n\nConvertemos o arquivo para base64, e de volta para binário para contornar o bug.","height":120,"width":320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3620,1380],"id":"e0312124-416d-4beb-ab6b-be64e8d51c84","name":"Sticky Note1"},{"parameters":{"method":"POST","url":"={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/toggle_typing_status","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"typing_status","value":"off"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7260,740],"id":"f1517f1d-ee02-491f-8a81-7f332f950563","name":"Resetar status"},{"parameters":{"method":"POST","url":"={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"is_recorded_audio","value":"=[\"{{ $binary.data.fileName }}\"]"},{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8160,920],"id":"2e0d594f-1dd7-4c7c-a8f1-cdfff0cf7609","name":"Enviar áudio"},{"parameters":{"method":"POST","url":"={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $('Formatar texto').item.json.text }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7720,620],"id":"a67fc80e-4b7a-43dc-9125-af50a529f327","name":"Enviar texto."},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Mensagem chegando?').item.json.mensagem }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"1382cd26-d96e-4c55-99dd-2ca305ffe82e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9a7e16f-b6e4-45d7-846d-92dcb3117593","leftValue":"={{ $('Info').item.json.mensagem_de_audio }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[7500,740],"id":"133e8c36-6d86-46a1-8d70-5b31f4d87884","name":"Tipo de mensagem2"},{"parameters":{"operation":"toBinary","sourceProperty":"=data","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[7940,920],"id":"b98f5964-5a71-49f2-8978-34ecfcacdfe0","name":"Base64 para áudio"},{"parameters":{"operation":"binaryToPropery","destinationKey":"=data","options":{"encoding":"base64"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[6920,880],"id":"c719e32a-7a08-4207-acb8-67ec9cd05ea7","name":"Áudio para base64"},{"parameters":{"assignments":{"assignments":[{"id":"420f958d-3aad-47e5-86bf-2c542f079f1d","name":"data","value":"={{ $('Áudio para base64').item.json.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7720,920],"id":"3d8e86a5-aaaf-47fa-a0ea-88f35492ce00","name":"Edit Fields"},{"parameters":{"content":"Novamente, algumas operações com arquivos são chatas no N8N, portanto fazemos a conversão de binário pra base64 e de volta pra binário.","height":120,"width":300},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7740,780],"id":"05a0f5e4-ea36-4393-bc4e-ce9c76a5e563","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"c8fd010d-6096-4a50-b3e2-e9fe26661840","name":"id_mensagem","value":"={{ $json.body.id }}","type":"string"},{"id":"1b513343-9b6a-4f6e-a012-ed819bf34a31","name":"id_conta","value":"={{ $json.body.account.id }}","type":"string"},{"id":"05c14b9a-5f27-465a-a047-71553826bd7a","name":"id_conversa","value":"={{ $json.body.conversation.id }}","type":"string"},{"id":"8bf522a6-75fb-434a-854c-b736539309e1","name":"telefone","value":"={{ $json.body.sender.phone_number }}","type":"string"},{"id":"0d622a33-f313-4758-a764-fa6cbf2b0587","name":"mensagem","value":"={{ $json.body.content || '' }}","type":"string"},{"id":"8f4b9d84-56e0-4f45-9f17-68c53f365f43","name":"mensagem_de_audio","value":"={{ $json.body.attachments?.[0]?.meta?.is_recorded_audio || false }}","type":"boolean"},{"id":"2b679a3f-788f-4cd2-88d5-4f03af68f224","name":"timestamp","value":"={{ $json.body.created_at }}","type":"string"},{"id":"24caf88e-74ce-43ab-8dc4-1fff471b706f","name":"tipo","value":"={{ $json.body.message_type }}","type":"string"},{"id":"573669d2-1e43-4010-8c82-a67459ffe1db","name":"etiquetas","value":"={{ $json.body.conversation.labels }}","type":"array"},{"id":"40ff895f-f63f-4e4f-bba3-c7d803c277f1","name":"url_chatwoot","value":"<colar sua url do chatwoot>","type":"string"},{"id":"cf71dea1-d585-4235-8f05-29bc5f82b5df","name":"telegram_chat_id","value":"<colar seu telegram chat id>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2520,740],"id":"2e7e5c8d-06de-4680-bb87-8f54e941be59","name":"Info"},{"parameters":{"assignments":{"assignments":[{"id":"9b3e9f43-424d-495e-81ae-7618b5cb2a4b","name":"url_chatwoot","value":"<colar sua url do chatwoot>","type":"string"},{"id":"79319fb2-1719-4bcf-b104-cd90898785af","name":"id_conta","value":"={{ $json.account_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7700,1480],"id":"07ca27c1-bd8d-4436-ae9f-5cbcc6fb3e18","name":"Info1"},{"parameters":{"description":"Chame essa ferramenta para direcionar o atendimento para o gestor responsável.","workflowId":{"__rl":true,"value":"<selecione seu workflow>","mode":"list"},"workflowInputs":{"mappingMode":"defineBelow","value":{"telefone":"={{ $('Info').item.json.telefone }}","nome":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome', ``, 'string') }}","ultima_mensagem":"={{ $('Set mensagens').item.json.mensagem || $('Set mensagens').item.json.mensagem_audio }}","id_conta":"={{ $('Info').item.json.id_conta }}","id_conversa":"={{ $('Info').item.json.id_conversa }}","telegram_chat_id":"={{ $('Info').item.json.telegram_chat_id }}","url_chatwoot":"={{ $('Info').item.json.url_chatwoot }}"},"matchingColumns":[],"schema":[{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"ultima_mensagem","displayName":"ultima_mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conta","displayName":"id_conta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conversa","displayName":"id_conversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telegram_chat_id","displayName":"telegram_chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"url_chatwoot","displayName":"url_chatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[6180,960],"id":"aa974a2a-11be-4936-8f1e-148d15a2f287","name":"Escalar humano"},{"parameters":{},"type":"@devlikeapro/n8n-nodes-chatwoot.chatWoot","typeVersion":1,"position":[7480,1480],"id":"0842fcd5-c1e0-434b-b4fb-25c06a1b3578","name":"Buscar informações da conta"},{"parameters":{"description":"Use essa ferramenta para enviar as informações de agendamento no WhatsApp.\n\nO ID da conversa deve ser extraído das informações do evento.","workflowId":{"__rl":true,"value":"<selecione seu workflow>","mode":"list"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensagem":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('mensagem', ``, 'string') }}","id_conversa":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_conversa', ``, 'string') }}","id_conta":"={{ $('Info1').item.json.id_conta }}","url_chatwoot":"={{ $('Info1').item.json.url_chatwoot }}"},"matchingColumns":[],"schema":[{"id":"mensagem","displayName":"mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conta","displayName":"id_conta","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conversa","displayName":"id_conversa","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"url_chatwoot","displayName":"url_chatwoot","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[8000,1740],"id":"e4a8eb8b-b8c0-43b2-a48f-5d00507a715d","name":"Enviar agendamento"},{"parameters":{"content":"## Nota sobre \"Enviar agendamento\"\n\nO N8N não permite colocar uma variável informada pelo agente (✨) na URL.\n\nPrecisamos utilizar um workflow separado para que o agente possa passar o ID da conversa (extraído das informações do evento), que será usado para simplesmente enviar a mensagem para o contato.","height":320,"width":580,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7760,1960],"id":"017309c0-f696-43b5-9e42-9bc48c5109c1","name":"Sticky Note9"},{"parameters":{"content":"## Tutorial de configuração tabelas [Supabase](https://supabase.com/)\n\n### Configurar tabelas\n\n1. Criar conta e projeto (use uma senha segura!!)\n1. Na barra lateral, clicar em \"SQL Editor\"\n1. Cole o código disponível no material `[Supabase] Criar histórico e fila de mensagens.sql`\n1. Clicar em \"Run\"\n\n### Configurar credenciais\n\n1. Na barra superior do Supabase, clique em \"Connect\"\n1. Desça até o final na seção \"Session pooler\" > clique em \"View parameters\"\n1. Abra o node \"Testar credencial - Supabase\" ao lado\n1. No campo \"Credential to connect with\", clique em \"Create new credential\"\n1. Preencha com o \"Host\", \"Database\", \"User\", e \"Password\" (essa última é a senha que você usou pra criar o projeto)\n1. Salve a credencial e execute o node para confirmar o sucesso","height":580,"width":660,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1440,620],"id":"8e5d326a-d835-4c81-89aa-133e10d2b2a2","name":"Sticky Note18"},{"parameters":{"content":"![Chatwoot](https://app.chatwoot.com/brand-assets/logo_dark.svg)","height":100,"width":260,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1120,800],"id":"9a404be3-64db-46de-abaf-7fb2667f9cf7","name":"Sticky Note24"},{"parameters":{"content":"[![Hostinger](https://hpanel.hostinger.com/assets/images/logos/hostinger-white.svg)](https://www.hostinger.com.br/cart?product=vps%3Avps_kvm_2&period=12&referral_type=cart_link&REFERRALCODE=FAZERAI&referral_id=0196b71f-5704-7120-aded-f6753a53c121)\n","height":80,"width":180,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[480,880],"id":"43925b98-e736-45df-9570-d5f00dc2693a","name":"Sticky Note26"},{"parameters":{"content":"[![Supabase logo](https://supabase.com/_next/image?url=https%3A%2F%2Ffrontend-assets.supabase.com%2Fwww%2F6d09404779ac%2F_next%2Fstatic%2Fmedia%2Fsupabase-logo-wordmark--dark.b36ebb5f.png&w=384&q=75&dpl=dpl_H9LPzQFg38dVjzWbzENRNVbXVDjJ)](https://supabase.com/)","height":80,"width":260,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1820,680],"id":"77d3214b-f0b6-40f8-9d82-d214a1297b52","name":"Sticky Note27"},{"parameters":{"content":"[![ElevenLabs](https://framerusercontent.com/images/YU6MnXR7ZjWNRjlYzx2Hrpcx0.png)](https://try.elevenlabs.io/9k5l5hagxkel)","height":80,"width":160,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1920,1320],"id":"dcbe3b3a-bc5f-422f-af25-c110bbd2c39c","name":"Sticky Note28"},{"parameters":{"content":"## Sugestão\n\nDuplique a aba desse workflow para facilitar a configuração e não precisar ficar abrindo e fechando janelas","width":680,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[40,620],"id":"9678b3a1-d9ad-4b6d-9a96-a7ceac997e26","name":"Sticky Note7"},{"parameters":{"content":"### Sub-workflows\n\nApós terminar os outros passos, não se esqueça de configurar os workflows secundários com suas credenciais!!\n\n- [ ] 2. MCP Google Calendar\n- [ ] 3. Baixar e enviar arquivo do Google Drive\n- [ ] 4. Escalar humano\n- [ ] 5. Enviar mensagem para conversa\n- [ ] 6. Assistente interno","height":280,"width":400,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2160,1820],"id":"08e852ae-79d8-41be-9272-8e52f324b3c0","name":"Sticky Note29"},{"parameters":{"content":"## 1. Secretária","height":80,"width":540,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"2ab6d26c-b6ec-4608-b599-bd35d64da274","name":"Sticky Note30"},{"parameters":{"content":"## Configurar variáveis no Info!!!","height":80,"width":250,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2440,640],"id":"ab08f97f-620a-43a0-b205-340d7320706d","name":"Sticky Note31"},{"parameters":{"content":"## Configurar variáveis no Info1","height":80,"width":250,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8000,1360],"id":"f270df7d-ef81-422b-8f09-9191d0f43cca","name":"Sticky Note32"},{"parameters":{"url":"https://api.elevenlabs.io/v2/voices","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1920,1940],"id":"e04dbe48-50b3-494c-9866-92300582ca57","name":"Testar credencial - ElevenLabs"},{"parameters":{"operation":"executeQuery","query":"SELECT COUNT(*) FROM n8n_historico_mensagens;\nSELECT COUNT(*) FROM n8n_fila_mensagens;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1920,1060],"id":"e34abb2e-493e-4665-9a6b-9a86f2daa3c1","name":"Testar credencial - Supabase"},{"parameters":{"content":"### Configurar telegram_chat_id no node Info!!!","height":80,"width":200,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6000,1120],"id":"199b89f1-bdd4-47d4-85d0-bdd87649a0b1","name":"Sticky Note25"},{"parameters":{"content":"### Configurar workflow do MCP Google Calendar!!!","height":80,"width":200,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5580,1120],"id":"588ab53b-2b9d-412b-9ef5-23cd053fc28a","name":"Sticky Note33"},{"parameters":{},"type":"@devlikeapro/n8n-nodes-chatwoot.chatWoot","typeVersion":1,"position":[1220,1760],"id":"d9f16f6b-22de-4ecb-b4af-e131ad90c315","name":"Testar credencial - Chatwoot"},{"parameters":{"content":"### Caso não use a voz da Keren, não se esqueça de atualizar o ID no node \"Gerar áudio\"\n\nAlterar esse ID que está no final da URL: `33B4UnXyTNbgLmdEDh5P`","width":300,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6620,1120],"id":"cd692051-7c04-40c3-a134-377d43f622bf","name":"Sticky Note14"},{"parameters":{"content":"## Importante\n\nSe a mensagem não está sendo marcada como lida, verifique no WhatsApp se essa função está habilitada.","width":320,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4660,920],"id":"a71b3c69-819a-41d1-8155-4397fb457a15","name":"Sticky Note34"},{"parameters":{"content":"## [Clique aqui e entre agora para tirar suas dúvidas](https://lucasmoreira.fazer.ai)\n[![Banner comunidade](https://framerusercontent.com/images/KIXMxk9eKCoCsNeVm1oaz5HnaQ.png)](https://lucasmoreira.fazer.ai)","height":440,"width":1380,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1080,100],"id":"6d364d93-59d0-4afe-a446-5e10c4b75ede","name":"Sticky Note36"}],"connections":{"Mensagem chegando?":{"main":[[{"node":"Tipo de mensagem","type":"main","index":0}]]},"Mensagem recebida":{"main":[[{"node":"Info","type":"main","index":0}]]},"Mensagem encavalada?":{"main":[[{"node":"Limpar fila de mensagens","type":"main","index":0}]]},"Buscar mensagens":{"main":[[{"node":"Mensagem encavalada?","type":"main","index":0}]]},"Limpar fila de mensagens":{"main":[[{"node":"Marcar como lidas","type":"main","index":0}]]},"Esperar":{"main":[[{"node":"Buscar mensagens","type":"main","index":0}]]},"Tipo de mensagem":{"main":[[{"node":"Enfileirar mensagem.","type":"main","index":0}],[{"node":"Download áudio","type":"main","index":0}]]},"MCP Google Calendar":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Listar arquivos":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Baixar e enviar arquivo":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Secretária":{"main":[[{"node":"Tipo de mensagem1","type":"main","index":0}]]},"Gerar áudio":{"main":[[{"node":"Áudio para base64","type":"main","index":0}]]},"Formatar SSML":{"main":[[{"node":"Gerar áudio","type":"main","index":0}]]},"Tipo de mensagem1":{"main":[[{"node":"Formatar texto","type":"main","index":0}],[{"node":"Formatar SSML","type":"main","index":0}]]},"Formatar texto":{"main":[[{"node":"Resetar status","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Formatar texto","type":"ai_languageModel","index":0}]]},"Enviar alerta de cancelamento":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Gemini":{"ai_languageModel":[[{"node":"Secretária","type":"ai_languageModel","index":0}]]},"Memory":{"ai_memory":[[{"node":"Secretária","type":"ai_memory","index":0}]]},"Refletir":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Reagir mensagem":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Assistente de confirmação","type":"ai_memory","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Assistente de confirmação","type":"ai_languageModel","index":0}]]},"Salvar memoria":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"MCP Google Calendar.":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"Enfileirar mensagem.":{"main":[[{"node":"Esperar","type":"main","index":0}]]},"Google Gemini Chat Model.":{"ai_languageModel":[[{"node":"Formatar SSML","type":"ai_languageModel","index":0}]]},"Refletir1":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]},"Marcar como lidas":{"main":[[{"node":"Digitando/Gravando...","type":"main","index":0}]]},"Digitando/Gravando...":{"main":[[{"node":"Set mensagens","type":"main","index":0}]]},"Set mensagens":{"main":[[{"node":"Secretária","type":"main","index":0}]]},"Download áudio":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Transcrever audio":{"main":[[{"node":"Marcar como lidas","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcrever audio","type":"main","index":0}]]},"Resetar status":{"main":[[{"node":"Tipo de mensagem2","type":"main","index":0}]]},"Tipo de mensagem2":{"main":[[{"node":"Enviar texto.","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Base64 para áudio":{"main":[[{"node":"Enviar áudio","type":"main","index":0}]]},"Áudio para base64":{"main":[[{"node":"Resetar status","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Base64 para áudio","type":"main","index":0}]]},"Info":{"main":[[{"node":"Mensagem chegando?","type":"main","index":0}]]},"Info1":{"main":[[{"node":"Assistente de confirmação","type":"main","index":0}]]},"Escalar humano":{"ai_tool":[[{"node":"Secretária","type":"ai_tool","index":0}]]},"Enviar agendamento":{"ai_tool":[[{"node":"Assistente de confirmação","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"868ae884-0c7d-49a0-9542-2aad3a76bf7e","triggerCount":0,"tags":[{"createdAt":"2025-07-14T00:41:42.414Z","updatedAt":"2025-07-14T00:41:42.414Z","id":"L0KpKaJENFQc3jai","name":"template"}]}