workflows/[fazer.ai]-3.-baixar-e-enviar-arquivo-do-google-drive-aNltBZJ6zOZHaOyk.json
{"createdAt":"2025-07-14T00:45:31.616Z","updatedAt":"2025-07-14T00:46:03.552Z","id":"aNltBZJ6zOZHaOyk","name":"[fazer.ai] 3. Baixar e enviar arquivo do Google Drive","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"file_id"},{"name":"id_conta"},{"name":"id_conversa"},{"name":"url_chatwoot"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[140,660],"id":"5207b5f7-4038-48b4-bcee-bc8da4d48f8b","name":"When Executed by Another Workflow"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.file_id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[360,660],"id":"14ccf043-f02b-4155-90ac-f5a3ad5ff0d8","name":"Baixar arquivo"},{"parameters":{"assignments":{"assignments":[{"id":"71dda3d7-4505-4d03-b70f-63f5c005c0c3","name":"status","value":"={{ $json.status }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,660],"id":"ba1b64ae-20d3-41e4-ae21-6f058b3da6c0","name":"Output"},{"parameters":{"content":"[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-ep2&utm_medium=cw-3)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n\n### Siga nosso GitHub\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n","height":440,"width":550,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,100],"id":"353052b4-894a-4690-aa42-25ea0a6f87cf","name":"Sticky Note10"},{"parameters":{"content":"## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![IMAGE ALT TEXT HERE](https://i1.ytimg.com/vi_webp/cvTWGNJGAu4/maxresdefault.webp)](https://www.youtube.com/watch?v=cvTWGNJGAu4)","height":440,"width":500,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[560,100],"id":"0d496504-411a-434e-91ec-e73ad89a0789","name":"Sticky Note13"},{"parameters":{"method":"POST","url":"={{ $('When Executed by Another Workflow').item.json.url_chatwoot }}/api/v1/accounts/{{ $('When Executed by Another Workflow').item.json.id_conta }}/conversations/{{ $('When Executed by Another Workflow').item.json.id_conversa }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"attachments[]","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[580,660],"id":"cf8de0e8-11ec-4c91-899a-a5b6b4266f76","name":"Enviar arquivo"},{"parameters":{"content":"![Chatwoot](https://app.chatwoot.com/brand-assets/logo_dark.svg)","height":100,"width":280,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[220,400],"id":"08644dc3-d26f-4b66-8dea-57fe71faafb2","name":"Sticky Note23"},{"parameters":{"content":"## 3. Baixar e enviar arquivo do Google Drive","height":80,"width":540,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"3f4a0cbe-aa09-4462-9ed2-c44dc1db4a1e","name":"Sticky Note30"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Baixar arquivo","type":"main","index":0}]]},"Baixar arquivo":{"main":[[{"node":"Enviar arquivo","type":"main","index":0}]]},"Enviar arquivo":{"main":[[{"node":"Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"00c739f6-22b0-4457-aa7e-26002fff9d6d","triggerCount":0,"tags":[{"createdAt":"2025-07-14T00:41:42.414Z","updatedAt":"2025-07-14T00:41:42.414Z","id":"L0KpKaJENFQc3jai","name":"template"}]}