workflows/[fazer.ai]-4.-escalar-humano-DEbrcGOLW7XJMMDF.json
{"createdAt":"2025-07-14T00:45:56.930Z","updatedAt":"2025-07-14T00:45:59.335Z","id":"DEbrcGOLW7XJMMDF","name":"[fazer.ai] 4. Escalar humano","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"telefone"},{"name":"nome"},{"name":"ultima_mensagem"},{"name":"id_conta"},{"name":"id_conversa"},{"name":"telegram_chat_id"},{"name":"url_chatwoot"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[80,620],"id":"7dcfb636-57cc-4f75-8e84-049d62a417dd","name":"When Executed by Another Workflow"},{"parameters":{"chatId":"={{ $('When Executed by Another Workflow').item.json.telegram_chat_id }}","text":"=Assistente desabilitado para o usuário {{ $('When Executed by Another Workflow').item.json.nome || '(usuário não cadastrado)' }} ({{ $('When Executed by Another Workflow').item.json.telefone }}).\n\nÚltima mensagem:\n\n---\n\n{{ $('When Executed by Another Workflow').item.json.ultima_mensagem }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[860,620],"id":"9ea4ba06-910a-4ab6-9857-396469913b84","name":"Enviar alerta","webhookId":"153d7fb2-c401-4894-95a5-c123c8bbdd0d"},{"parameters":{"content":"[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-ep2&utm_medium=cw-4)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n\n### Siga nosso GitHub\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n","height":440,"width":550,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,100],"id":"2a5424d6-d329-4e79-bef1-070e04567afe","name":"Sticky Note10"},{"parameters":{"content":"## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![IMAGE ALT TEXT HERE](https://i1.ytimg.com/vi_webp/cvTWGNJGAu4/maxresdefault.webp)](https://www.youtube.com/watch?v=cvTWGNJGAu4)","height":440,"width":500,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[560,100],"id":"d2d1c604-aa74-4e8e-bfa0-df54c4d4f445","name":"Sticky Note13"},{"parameters":{"method":"POST","url":"={{ $('When Executed by Another Workflow').item.json.url_chatwoot }}/api/v1/accounts/{{ $('When Executed by Another Workflow').item.json.id_conta }}/conversations/{{ $('When Executed by Another Workflow').item.json.id_conversa }}/labels","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"labels","value":"={{ $json.payload.append('agente-off').unique() }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[600,620],"id":"3b291bfe-e988-43a4-81c8-3725f39bf56f","name":"Colocar etiqueta agente-off"},{"parameters":{"method":"POST","url":"=<colar sua url do chatwoot>/api/v1/accounts/{{ $json.account_id }}/labels","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"color\": \"#6233D0\",\n  \"description\": \"Agente IA não responderá esse contato.\",\n  \"title\": \"agente-off\",\n  \"show_on_sidebar\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[600,980],"id":"318a9e4b-21b1-49ca-a39a-30dfedcfb511","name":"Criar etiqueta agente-off"},{"parameters":{"content":"## Criar etiqueta\n\nVocê pode criar a etiqueta \"agente-off\" por aqui, ou pela interface do Chatwoot.\n\n\n\n\n\n\n\n\n\n\n\n\n\n","height":340,"width":1040,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[20,860],"id":"97d81907-7a2b-4ba8-9379-ebb45c43dde7","name":"Sticky Note"},{"parameters":{"url":"={{ $('When Executed by Another Workflow').item.json.url_chatwoot }}/api/v1/accounts/{{ $('When Executed by Another Workflow').item.json.id_conta }}/conversations/{{ $('When Executed by Another Workflow').item.json.id_conversa }}/labels","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[360,620],"id":"6901fb8b-d9ef-4426-98e6-0718a27e9e92","name":"Listar etiquetas da conversa"},{"parameters":{},"type":"@devlikeapro/n8n-nodes-chatwoot.chatWoot","typeVersion":1,"position":[360,980],"id":"9f4276c9-e839-4df9-b2dc-cc512e39cd33","name":"Buscar informações da conta","credentials":{}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[80,980],"id":"f4b69dbe-68d9-44c5-8ebd-8c6fbc99a9a5","name":"When clicking ‘Test workflow’"},{"parameters":{"content":"![Chatwoot](https://app.chatwoot.com/brand-assets/logo_dark.svg)","height":100,"width":280,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[220,400],"id":"98ee6abf-b5db-4b00-8e45-83f1ec41c4cb","name":"Sticky Note23"},{"parameters":{"content":"## 4. Escalar humano","height":80,"width":540,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"fc2ae88a-ced8-4ca7-b34a-63c855ee8897","name":"Sticky Note30"},{"parameters":{"method":"POST","url":"=<colar sua url do chatwoot>/api/v1/accounts/{{ $('Buscar informações da conta').item.json.account_id }}/labels","authentication":"predefinedCredentialType","nodeCredentialType":"chatwootApi","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"color\": \"#A44C74\",\n  \"title\": \"testando-agente\",\n  \"show_on_sidebar\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[860,980],"id":"ffe9d35d-dee3-4bc9-9552-7b9cf19afd0a","name":"Criar etiqueta testando-agente"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Listar etiquetas da conversa","type":"main","index":0}]]},"Colocar etiqueta agente-off":{"main":[[{"node":"Enviar alerta","type":"main","index":0}]]},"Criar etiqueta agente-off":{"main":[[{"node":"Criar etiqueta testando-agente","type":"main","index":0}]]},"Listar etiquetas da conversa":{"main":[[{"node":"Colocar etiqueta agente-off","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"266a064d-6ac0-4b42-bc63-3a27d75a8c39","triggerCount":0,"tags":[{"createdAt":"2025-07-14T00:41:42.414Z","updatedAt":"2025-07-14T00:41:42.414Z","id":"L0KpKaJENFQc3jai","name":"template"}]}