workflows/commit_msg_generator-73BHpBtre91X192P.json
{"createdAt":"2025-07-06T18:06:58.048Z","updatedAt":"2025-07-11T01:55:17.473Z","id":"73BHpBtre91X192P","name":"commit_msg_generator","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"generate/commit","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"84a5b87a-d4c6-4ac3-9955-6b54d7d15cca","name":"Webhook","webhookId":"c8553a98-14a9-412e-96b9-55beab9ec206"},{"parameters":{"assignments":{"assignments":[{"id":"c4904ec5-62ed-47aa-a374-1c8d82f70cb3","name":"staged_diff","value":"={{ $json.body.staged_diff }}","type":"string"},{"id":"c5db2877-24c7-49cf-867e-c89293f1707b","name":"recent_commits","value":"={{ $json.body.recent_commits }}","type":"string"},{"id":"4b8aa9e7-db60-4934-8cc6-2170fb5a5b8e","name":"user_context","value":"={{ $json.body.context }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,0],"id":"dc9f87ae-3aad-4fc4-a2f9-62b1350d7c8c","name":"Edit Fields"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-nano-2025-04-14","mode":"list","cachedResultName":"GPT-4.1-NANO-2025-04-14"},"messages":{"values":[{"content":"=You are a git commit message generator. Based on the provided git information, generate a concise, professional commit message.\n\n<git_staged_changes_output>\n{{ $json.staged_diff }}\n</git_staged_changes_output>\n\n<recent_commit_history_for_style_reference>\n{{ $json.recent_commits }}\n</recent_commit_history_for_style_reference>\n\n<user_context>\n{{ $json.user_context }}\n</user_context>\n  \n<instructions>\n1. Analyze ONLY the staged changes to understand what was modified - this is the primary source of truth\n2. NEVER describe changes that are not present in the staged diff - do not infer or assume changes from recent commits\n3. Use the user context (if provided) as additional context to better understand the intent and reasoning, but ensure all staged changes are represented\n4. Follow the existing commit message style from the history\n5. Use imperative mood (e.g., \"Add\", \"Fix\", \"Update\", not \"Added\", \"Fixed\")\n6. Keep the subject line under 50 characters\n7. Focus on the \"why\" and \"what\" rather than implementation details\n8. For small changes (1-2 lines), keep the commit message simple with just a subject line\n9. Include a body when:\n   - The user provides detailed context explaining the changes\n   - Multiple related changes are made in one commit\n   - The reasoning behind the change needs clarification\n   - Complex bug fixes or architectural changes are involved\n10. Use backticks to escape function names, variable names, and code elements\n11. Categorize as: feat, fix, refactor, docs, style, test, chore, etc.\n12. Do not include sensitive information like API keys or passwords\n</instructions>\n\n<output_format>\nProvide only the commit message in this exact format:\nSubject line (under 50 chars)\n\nBody (required when user provides detailed context or when multiple related changes are made):\nUse bullet points format (aim for informative descriptions close to 150 characters per bullet point while maintaining direct, clean tone):\n- Core issue that was fixed\n- Solution approach taken\n- Any architectural or design changes made\n</output_format>"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[440,0],"id":"8ae434e6-4b5a-4032-b614-2df0a8734d89","name":"OpenAI","credentials":{"openAiApi":{"id":"nQmAhyUVFZdJQzBc","name":"OpenAi account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({\n  commit_message: $json.message.content.replace(/\\n/g, \"\\\\n\")\n}) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[800,0],"id":"730ae886-fc62-4394-a62f-3cec2cf8a52f","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"body":{"diff":"diff --git a/src/components/connection/delete-modal.vue b/src/components/connection/delete-modal.vue\nindex 9699c4c2..04e197ad 100644\n--- a/src/components/connection/delete-modal.vue\n+++ b/src/components/connection/delete-modal.vue\n@@ -31,7 +31,7 @@\n                 v-for=\"datastore in connectionDatastores\"\n                 :key=\"datastore.id\"\n                 dense\n-                color=\"primary\"\n+                color=\"secondary\"\n                 class=\"h-6 cursor-pointer\"\n                 @click.stop=\"handleRedirectToDatastore(datastore.id)\"\n               >\n@@ -53,7 +53,7 @@\n                 v-for=\"enrichment in connectionEnrichments\"\n                 :key=\"enrichment.id\"\n                 dense\n-                color=\"primary\"\n+                color=\"secondary\"\n                 class=\"h-6 cursor-pointer\"\n                 @click=\"handleRedirectToDatastore(enrichment.id, true)\"\n               >"}}}]},"versionId":"86f5a829-1c83-4c88-94bb-3bbfb7f50928","triggerCount":1,"tags":[]}