workflows/iris-y7cb3tP0071JBNZA.json
{"createdAt":"2025-07-14T01:40:02.374Z","updatedAt":"2025-07-14T06:04:40.593Z","id":"y7cb3tP0071JBNZA","name":"iris","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"a8380c5f-8d6f-44fc-b612-7e1fd3e16069","name":"message_id","value":"={{ $json.body.id }}","type":"string"},{"id":"7a3b296e-564e-4e2c-8524-e5a9baf94946","name":"message_type","value":"={{ $json.body.message_type }}","type":"string"},{"id":"7135e4b5-bc82-42a7-a7ef-139cea0b3585","name":"message_content","value":"={{ $json.body.content }}","type":"string"},{"id":"d1a68009-367d-42fe-8c00-a99817694d49","name":"message_content_type","value":"={{ $json.body.attachments ? $json.body.attachments[0].file_type : 'text' }}","type":"string"},{"id":"7f901ae9-a41a-4583-b6fe-907d7633b138","name":"phone_number","value":"={{ $json.body.sender.phone_number }}","type":"string"},{"id":"64235957-6def-40cf-a546-212da4b96a0a","name":"created_at","value":"={{ $json.body.created_at }}","type":"string"},{"id":"129b7708-96dc-4ad3-80f0-2210586cc907","name":"conversation_id","value":"={{ $json.body.conversation.id }}","type":"number"},{"id":"25a88307-2e17-406d-9856-4848e82a09c9","name":"chatwoot_url","value":"https://chatwoot-vps.gasscoelho.me","type":"string"},{"id":"b7b02a1e-48c8-46ec-aa97-110c0a75aeeb","name":"account_id","value":"={{ $json.body.account.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,-40],"id":"996ca6fa-175e-48c5-bc0e-dc48d6a4c633","name":"Set Chatwoot Fields"},{"parameters":{"httpMethod":"POST","path":"chatwoot/b55d9dd5-c8b0-4c8d-a7df-bf64bdcd398f","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-320,-40],"id":"04218c5e-306f-45aa-8a50-c6242d88f13c","name":"Message Created","webhookId":"b55d9dd5-c8b0-4c8d-a7df-bf64bdcd398f"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message_content_type }}","rightValue":"text","operator":{"type":"string","operation":"equals"},"id":"65d4d775-b556-460d-b68c-6613436744ee"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6b8aa49c-a6fc-47a8-90dc-d7a17b5b956f","leftValue":"={{ $json.message_content_type }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[560,-40],"id":"affd29bf-b9b8-4212-b185-763a7df7a39f","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1160,-160],"id":"016c2435-55b9-49d5-80a5-536f45378c27","name":"Wait","webhookId":"dc5b859d-1d63-437e-80db-7560c0a44fb1"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_message_queue","mode":"name"},"returnAll":true,"where":{"values":[{"column":"phone","value":"={{ $json.phone }}"}]},"sort":{"values":[{"column":"timestamp"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1420,-160],"id":"8776d68f-1b6c-4e61-93f4-7a6536683193","name":"Get Queued Messages by Number","credentials":{"postgres":{"id":"EEM8hUp6556fP3af","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7039a457-17e4-460d-8512-ec8d8cb28915","leftValue":"={{ $json.message_type }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[280,-40],"id":"607eda89-451e-4280-9fc0-239a0b61393b","name":"Filter by Incoming Message"},{"parameters":{"jsCode":"const lastMessageInQueue = $input.last();\nconst workflowMessage = $('Set Chatwoot Fields').first()\n\nif (lastMessageInQueue.json.message_id !== workflowMessage.json.message_id) {\n  // Message overlap detected — queue is still receiving messages, halt workflow\n  return [];\n}\n\n// Pass-through all messages from the queue\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1700,-160],"id":"d0475688-1424-4db1-967a-e16319bd3127","name":"Hold Until Queue Settles"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_message_queue","mode":"list","cachedResultName":"n8n_message_queue"},"deleteCommand":"delete","where":{"values":[{"column":"phone","value":"={{ $('Set Chatwoot Fields').item.json.phone_number }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1980,-160],"id":"b149fb74-1991-442f-9a05-7e07e77dfc3e","name":"Clean Up Queued Messages by Number","credentials":{"postgres":{"id":"EEM8hUp6556fP3af","name":"Postgres account"}}},{"parameters":{"tableId":"n8n_message_queue","fieldsUi":{"fieldValues":[{"fieldId":"message_id","fieldValue":"={{ $('Set Chatwoot Fields').item.json.message_id }}"},{"fieldId":"message","fieldValue":"={{ $('Set Chatwoot Fields').item.json.message_content }}"},{"fieldId":"phone","fieldValue":"={{ $('Set Chatwoot Fields').item.json.phone_number }}"},{"fieldId":"timestamp","fieldValue":"={{ $('Set Chatwoot Fields').item.json.created_at }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[900,-160],"id":"626a6298-7db2-47cf-bcb0-22de4f8cd9ae","name":"Queue the Message","credentials":{"supabaseApi":{"id":"u34lkCYRAmUMckso","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"={{ $('Set Chatwoot Fields').item.json.chatwoot_url }}/api/v1/accounts/{{ $('Set Chatwoot Fields').item.json.account_id }}/conversations/{{ $('Set Chatwoot Fields').item.json.conversation_id }}/update_last_seen","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2300,-160],"id":"8a283bda-06bf-4974-a725-034f9585d798","name":"Mark Messages as Read","credentials":{"httpBearerAuth":{"id":"snxC16Q9g6u88Vkm","name":"Chatwoot API Token"},"httpBasicAuth":{"id":"Vq5s4ty6IBCAT0YF","name":"Unnamed credential"},"httpHeaderAuth":{"id":"ydZkNKNgC1fWZS5I","name":"Chatwoot Application"}}},{"parameters":{"method":"POST","url":"={{ $('Set Chatwoot Fields').item.json.chatwoot_url }}/api/v1/accounts/{{ $('Set Chatwoot Fields').item.json.account_id }}/conversations/{{ $('Set Chatwoot Fields').item.json.conversation_id }}/toggle_typing_status","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"typing_status","value":"on"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2640,-160],"id":"87791f51-4bed-40a7-9583-025ab2315a3c","name":"Set Typing/Recording Status","credentials":{"httpBearerAuth":{"id":"snxC16Q9g6u88Vkm","name":"Chatwoot API Token"},"httpHeaderAuth":{"id":"ydZkNKNgC1fWZS5I","name":"Chatwoot Application"}}},{"parameters":{"content":"TODO: Handle audio","height":200,"width":220},"type":"n8n-nodes-base.stickyNote","position":[2240,-220],"typeVersion":1,"id":"3758432b-2ade-464d-b4a9-8c0fab52b5cf","name":"Sticky Note"},{"parameters":{"content":"TODO: Handle audio","height":220,"width":220},"type":"n8n-nodes-base.stickyNote","position":[2580,-220],"typeVersion":1,"id":"09229ec9-a6cf-4d1c-b110-5efaad1d94ae","name":"Sticky Note1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2940,-160],"id":"d86b4d4c-7ec4-45b6-aee4-8408c3b32ed1","name":"Wait1","webhookId":"d3518bc4-d25e-4453-b4e5-a31c490e4121"},{"parameters":{"content":"## Message Queue Process\n\nIt's important to understand that **for every message received, an execution is triggered**.\nThat means we'd have 3 n8n executions if the client sends 3 messages.\n\nBelow is a quick overview of this process:\n\n1. First, we queue the workflow message using a Postgres table.\n2. After that, we wait for a couple of seconds to give time for the queue to fill.\n3. Once the wait time is reached, we get all the messages that appear in the queue, filtering by the client's number.\n4. The next step acts like a gate for the queue. Its true goal is to wait for the queue to settle.\n   - That's because we only want to respond to a single message, not to every possible message received.\n   - The code logic is the following:\n     - **If the current workflow message overlaps with the last message registered in the queue, we stop the workflow execution.**\n     - **Otherwise, we'll continue to process the workflow execution.**\n","height":560,"width":1300,"color":7},"type":"n8n-nodes-base.stickyNote","position":[860,-520],"typeVersion":1,"id":"5ef2c728-2ebb-4170-9ef8-75a067b3b1f5","name":"Sticky Note2"}],"connections":{"Set Chatwoot Fields":{"main":[[{"node":"Filter by Incoming Message","type":"main","index":0}]]},"Message Created":{"main":[[{"node":"Set Chatwoot Fields","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Queue the Message","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Queued Messages by Number","type":"main","index":0}]]},"Filter by Incoming Message":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Get Queued Messages by Number":{"main":[[{"node":"Hold Until Queue Settles","type":"main","index":0}]]},"Hold Until Queue Settles":{"main":[[{"node":"Clean Up Queued Messages by Number","type":"main","index":0}]]},"Queue the Message":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Clean Up Queued Messages by Number":{"main":[[{"node":"Mark Messages as Read","type":"main","index":0}]]},"Mark Messages as Read":{"main":[[{"node":"Set Typing/Recording Status","type":"main","index":0}]]},"Set Typing/Recording Status":{"main":[[{"node":"Wait1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"04aee256-cf7c-4b10-bc00-7682c3c77fac","triggerCount":0,"tags":[{"createdAt":"2025-07-11T04:38:16.900Z","updatedAt":"2025-07-11T04:38:16.900Z","id":"joejSnqFcN6mfKTb","name":"wip"}]}