workflows/notify_on_workflow_error-UbaMuhsqkuOMz1Q9.json
{"createdAt":"2025-07-18T13:39:45.115Z","updatedAt":"2025-07-25T00:42:27.006Z","id":"UbaMuhsqkuOMz1Q9","name":"notify_on_workflow_error","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-600,-20],"id":"3f30f3aa-8ed5-4002-9a7d-e55e7c3afe9c","name":"Error Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"2fa4be3a-4e6f-4ee0-9160-8cc6e68f7356","name":"workflow_name","value":"={{ $json.workflow.name }}","type":"string"},{"id":"a5e7d6e4-0681-4c7c-8f67-e2c0bfe9277c","name":"execution_url","value":"={{ $json.execution.url }}","type":"string"},{"id":"952a883c-4d29-41d6-9fcb-e28dc073eb84","name":"execution_error_message","value":"={{ $json.execution.error.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-380,-20],"id":"dce5bebe-7143-4a78-a2fe-f605d2886efe","name":"Set Fields"},{"parameters":{"chatId":"1078143170","text":"=*🚨 Workflow Execution Failed*\n\n*Workflow:* {{ $json.item.workflow_name }}\n\n*Error:* {{ $json.item.execution_error_message }}\n\n*Details:* [View Execution]({{ $json.item.execution_url }})\n","additionalFields":{"appendAttribution":false,"parse_mode":"MarkdownV2"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[60,-20],"id":"051eeb3c-d71f-4dcc-b4ba-ca43b622705f","name":"Notify About the WF Error","webhookId":"d95376c9-a8e9-4deb-a950-39f4b575220c","credentials":{"telegramApi":{"id":"3ygmRQ5apzoMO7XR","name":"Telegram account"}}},{"parameters":{"jsCode":"function escapeMdV2(text) {\n  return text.replace(/([_*\\[\\]()~`>#+\\-=|{}.!\\\\])/g, '\\\\$1');\n}\n\nconst item = {}\n\nitem.workflow_name = escapeMdV2($('Set Fields').first().json.workflow_name);\nitem.execution_url = escapeMdV2($('Set Fields').first().json.execution_url);\nitem.execution_error_message = escapeMdV2($('Set Fields').first().json.execution_error_message);\n\nreturn [{ item }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,-20],"id":"50ba5ccf-645a-43ab-a360-7230b2c65c4f","name":"Escape for MDv2 (Code)"}],"connections":{"Error Trigger":{"main":[[{"node":"Set Fields","type":"main","index":0}]]},"Set Fields":{"main":[[{"node":"Escape for MDv2 (Code)","type":"main","index":0}]]},"Escape for MDv2 (Code)":{"main":[[{"node":"Notify About the WF Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Error Trigger":[{"json":{"execution":{"id":"504","url":"http://n8n-qcwg40s40woocg8g4o8kosg8.31.97.173.105.sslip.io:5678/workflow/lEliBdOp8vdhdJD4/executions/504","error":{"level":"warning","tags":{"reWrapped":true},"context":{"itemIndex":0},"functionality":"regular","name":"NodeOperationError","timestamp":1753390801896,"node":{"parameters":{"authentication":"oAuth2","resource":"message","operation":"getAll","returnAll":false,"limit":10,"simple":false,"filters":{"labelIds":["Label_4545386402465571405"],"readStatus":"unread"},"options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-2340,340],"id":"cd43a221-f55f-4f5c-b306-f79f356ff129","name":"Get unread emails","webhookId":"ac01eef6-8736-49cb-8329-185224d7ec6f","credentials":{"gmailOAuth2":{"id":"P6bXDkSsG4M6DiBY","name":"Gmail account"}}},"messages":["The provided authorization grant (e.g., authorization code, resource owner credentials) or refresh token is invalid, expired, revoked, does not match the redirection URI used in the authorization request, or was issued to another client."],"message":"The provided authorization grant (e.g., authorization code, resource owner credentials) or refresh token is invalid, expired, revoked, does not match the redirection URI used in the authorization request, or was issued to another client. (item 0)","stack":"NodeOperationError: The provided authorization grant (e.g., authorization code, resource owner credentials) or refresh token is invalid, expired, revoked, does not match the redirection URI used in the authorization request, or was issued to another client. (item 0)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_1af219c3f47f2a1223ec4ccec249a974/node_modules/n8n-nodes-base/nodes/Google/Gmail/v2/GmailV2.node.ts:816:11)\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@4.103.0_encoding@0.1.13_ws@8.17.1_zod@3.25.67_/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1194:9)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@4.103.0_encoding@0.1.13_ws@8.17.1_zod@3.25.67_/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1564:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@4.103.0_encoding@0.1.13_ws@8.17.1_zod@3.25.67_/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2135:11"},"lastNodeExecuted":"Get unread emails","mode":"trigger"},"workflow":{"id":"lEliBdOp8vdhdJD4","name":"notify_about_somus_emails"}}}]},"versionId":"f27aab2c-8d96-48f2-966b-63b8fedfcbd0","triggerCount":0,"tags":[]}