workflows/send_duolingo_reminder-ehMlRN1ywvZAZJPz.json
{"createdAt":"2025-07-15T02:36:04.868Z","updatedAt":"2025-07-16T03:34:35.296Z","id":"ehMlRN1ywvZAZJPz","name":"send_duolingo_reminder","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"d6404d48-00ca-4ab7-8b02-e90df49c9299","name":"message","value":"={{ $('Webhook').item.json.body.message }}","type":"string"},{"id":"3bc4f878-a7f3-4d00-982f-6e291b6fc130","name":"number_or_group_id","value":"={{ $json.number_or_group_id }}","type":"string"},{"id":"392964eb-3750-4ca8-86d7-98ea27de43c4","name":"evo_instance_name","value":"Morning Messages","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,0],"id":"fad481aa-d859-48cc-87e9-ef0da80a9056","name":"Set Fields"},{"parameters":{"resource":"messages-api","instanceName":"={{ $json.evo_instance_name }}","remoteJid":"={{ $json.number_or_group_id }}","messageText":"={{ $json.message }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[900,0],"id":"e6fd5119-4b7e-406f-a09e-0e219ea3d866","name":"Send Morning Message","credentials":{"evolutionApi":{"id":"mkiwUQXoPmLATonv","name":"Evolution account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1Y6LhewHCZ48Kx2a3PrTCx-iFJgRNcSucgTebdXvASmc","mode":"list","cachedResultName":"whatsapp_whitelist","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y6LhewHCZ48Kx2a3PrTCx-iFJgRNcSucgTebdXvASmc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":767330716,"mode":"list","cachedResultName":"duolingo-whitelist","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y6LhewHCZ48Kx2a3PrTCx-iFJgRNcSucgTebdXvASmc/edit#gid=767330716"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[340,0],"id":"a22dd9d2-3904-4a4c-8478-b4956f3bfdac","name":"Get Numbers From Whitelist","credentials":{"googleSheetsOAuth2Api":{"id":"1em80c17P77M99qF","name":"Google Sheets account"}}},{"parameters":{"content":"## Whitelist Sheet\nPulls phone numbers from a Google Sheet.\n\n- **Edit whitelist**: [Open Sheet](https://docs.google.com/spreadsheets/d/1Y6LhewHCZ48Kx2a3PrTCx-iFJgRNcSucgTebdXvASmc/edit?usp=sharing)  \n- **Get group IDs**: [Open Subworkflow](https://n8n-vps.gasscoelho.me/workflow/LT3UT36leZUM1sCa)","height":560,"width":280,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[260,-180],"id":"2b49d307-4723-4ef4-98f7-4d742731edcb","name":"Sticky Note1"},{"parameters":{"httpMethod":"POST","path":"duolingo/88e426e5-83fa-485b-b905-0b0edea0dc32","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[20,0],"id":"be99e29d-601a-4003-a2e6-ea1763cbe08c","name":"Webhook","webhookId":"88e426e5-83fa-485b-b905-0b0edea0dc32"},{"parameters":{"respondWith":"noData","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1140,0],"id":"e97aa1fb-e7f3-4b78-b8f6-4630c6ca43ae","name":"Respond to Webhook"},{"parameters":{"jsCode":"return [\n  {\n    \"row_number\": 1,\n    \"name\": \"Gabriel\",\n    \"number_or_group_id\": \"556192602546\"\n  },\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[340,220],"id":"199fa7b9-cfa3-410d-a1a1-2f8263ade253","name":"Get Single Number (QA)","disabled":true}],"connections":{"Set Fields":{"main":[[{"node":"Send Morning Message","type":"main","index":0}]]},"Get Numbers From Whitelist":{"main":[[{"node":"Set Fields","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Get Numbers From Whitelist","type":"main","index":0}]]},"Send Morning Message":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Get Single Number (QA)":{"main":[[{"node":"Set Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n-vps.gasscoelho.me","user-agent":"Python/3.13 aiohttp/3.12.14","content-length":"124","accept":"*/*","accept-encoding":"gzip, deflate","content-type":"application/json","x-forwarded-for":"10.0.1.1","x-forwarded-host":"n8n-vps.gasscoelho.me","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"48c739981a13","x-real-ip":"10.0.1.1"},"params":{},"query":{},"body":{"message":"Sobrevivi ao Duolingo de hoje! E você, já fez a sua lição ou vai deixar a coruja nervosa?"},"webhookUrl":"https://n8n-vps.gasscoelho.me/webhook-test/duolingo/88e426e5-83fa-485b-b905-0b0edea0dc32","executionMode":"test"}}]},"versionId":"3036c496-df08-4db0-a21f-22a22f210232","triggerCount":1,"tags":[]}