workflows/send_morning_msgs_wpp-iYbAzhhUX2Zjlt7C.json
{"createdAt":"2025-07-11T04:38:21.462Z","updatedAt":"2025-07-16T00:00:40.791Z","id":"iYbAzhhUX2Zjlt7C","name":"send_morning_msgs_wpp","active":true,"isArchived":false,"nodes":[{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-nano-2025-04-14","mode":"list","cachedResultName":"GPT-4.1-NANO-2025-04-14"},"messages":{"values":[{"content":"=<task>  \nCrie uma mensagem de bom dia curta (máximo 20 palavras) seguida de uma frase do dia complementar.\n</task>  \n\n<tone>  \n- A mensagem deve ser apropriada para enviar a amigos, colegas ou grupos de WhatsApp, com tom informal e natural.  \n- Sempre inclua um cumprimento de bom dia de forma natural.\n- O tom específico da frase complementar varia conforme o dia (ver instruções extras).\n- NÃO mencione que é dia par/ímpar, nem palavras como \"sarcasmo\", \"ironia\", etc. Seja direto e natural.\n</tone>  \n\n<extra>\nVerifique o número do dia atual (do mês).  \n- Se for **par**, tanto a mensagem de bom dia quanto a frase do dia devem ter tom **positivo, inspirador ou encorajador**.  \n- Se for **ímpar**, tanto a mensagem de bom dia quanto a frase do dia devem ter tom **irônico, sarcástico ou provocativo** no estilo bem-humorado, mas com sarcasmo mais intenso e direto.\n\nESTRUTURA OBRIGATÓRIA:\n1. Primeira linha: Mensagem de bom dia (cumprimento + comentário sobre o dia)\n2. Segunda linha: Frase complementar diferente (como se fosse a \"Frase do Dia\")\n\nPara dias ímpares, seja mais ácido e direto no sarcasmo - pode falar sobre fracasso, desistência, inutilidade, etc. de forma bem-humorada mas sem filtro.\n\n**IMPORTANTE**: \n- Seja criativo e original! Não repita frases anteriores. Varie sempre o conteúdo.\n- NÃO mencione o processo (par/ímpar, sarcasmo, ironia, etc.) na mensagem final.\n- Seja direto e natural, como se fosse uma mensagem espontânea.\n</extra>  \n\n<formatting>  \n- A mensagem de bom dia pode ter emoji se desejar.\n- A \"Frase do Dia\" deve estar em negrito usando apenas UM asterisco, exemplo: *asterisco*.\n- Use DUAS quebra de linha (\\n) entre a mensagem de bom dia e \"Frase do Dia\".\n- NÃO inclua quebras de linha extras no final da mensagem.  \n</formatting>\n\n<exemplos_referencia>\nPara dias ímpares, seja mais ácido e direto no sarcasmo:\n- Fale sobre fracasso, desistência, inutilidade de forma bem-humorada\n- Use pessimismo exagerado mas divertido\n- Seja provocativo sobre expectativas e sonhos\n- Humor negro mais intenso\n- Sarcasmo sem filtro mas ainda apropriado para WhatsApp\n\nNÃO use literalmente os exemplos - apenas como inspiração para o tom mais intenso.\n</exemplos_referencia>\n\nHoje é {{ $('Set Date Fields').item.json.day_of_month }} ({{ $('Set Date Fields').item.json.day_of_week }})"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-80,0],"id":"0b899726-b4a8-48a5-836d-b601cf575557","name":"Generate Morning Message","executeOnce":false,"credentials":{"openAiApi":{"id":"nQmAhyUVFZdJQzBc","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"d6404d48-00ca-4ab7-8b02-e90df49c9299","name":"message","value":"={{ $('Generate Morning Message').item.json.message.content }}","type":"string"},{"id":"3bc4f878-a7f3-4d00-982f-6e291b6fc130","name":"number_or_group_id","value":"={{ $json.number_or_group_id }}","type":"string"},{"id":"392964eb-3750-4ca8-86d7-98ea27de43c4","name":"evo_instance_name","value":"Morning Messages","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[680,0],"id":"4db43929-db58-461b-8f5a-c7f45ba3885c","name":"Set Fields"},{"parameters":{"resource":"messages-api","instanceName":"={{ $json.evo_instance_name }}","remoteJid":"={{ $json.number_or_group_id }}","messageText":"={{ $json.message }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[920,0],"id":"1218dac1-4af2-4e53-ba13-f130cca4e1da","name":"Send Morning Message","credentials":{"evolutionApi":{"id":"mkiwUQXoPmLATonv","name":"Evolution account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":8,"triggerAtMinute":45}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-820,0],"id":"6c8c09d4-af2e-4461-9a93-13701f488f7c","name":"Schedule Trigger"},{"parameters":{"amount":"={{ \n  ($json.day_of_month % 2 === 0) \n    ? Math.floor(Math.random() * (15 - 0 + 1)) + 0     // Even day: 0–15 \n    : Math.floor(Math.random() * (30 - 16 + 1)) + 16   // Odd day: 16–30 \n}}\n","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-300,0],"id":"6ea230d2-c4a3-4a9f-9c61-3d22e7413d78","name":"Wait","webhookId":"d8d37429-f585-4868-b036-51a6d8dd3a59","executeOnce":false},{"parameters":{"assignments":{"assignments":[{"id":"4730ff17-719a-4783-90c2-555c1c0306bf","name":"day_of_week","value":"={{ $json['Day of week'] }}","type":"string"},{"id":"048b5b7e-7c1e-4939-ab42-1129cd3ff368","name":"day_of_month","value":"={{ $json['Day of month'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-560,0],"id":"4071efa2-4cf2-4e5c-b770-33a2a9e0098d","name":"Set Date Fields"},{"parameters":{"documentId":{"__rl":true,"value":"1Y6LhewHCZ48Kx2a3PrTCx-iFJgRNcSucgTebdXvASmc","mode":"list","cachedResultName":"whatsapp_whitelist","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y6LhewHCZ48Kx2a3PrTCx-iFJgRNcSucgTebdXvASmc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"whitelist","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y6LhewHCZ48Kx2a3PrTCx-iFJgRNcSucgTebdXvASmc/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[340,0],"id":"b9ddaacb-896c-4fad-bf27-61a53783d449","name":"Get Numbers From Whitelist","credentials":{"googleSheetsOAuth2Api":{"id":"1em80c17P77M99qF","name":"Google Sheets account"}}},{"parameters":{"content":"## Random Delay\nAdds a randomized delay to avoid predictable trigger times.\n\n- **Even days**: Wait between 0–15 minutes\n- **Odd days**: Wait between 16–30 minutes","height":400,"width":260,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-380,-220],"id":"4a0b372b-96d9-45cb-97ab-64fe88d403e3","name":"Sticky Note"},{"parameters":{"content":"## Whitelist Sheet\nPulls phone numbers from a Google Sheet.\n\n- **Edit whitelist**: [Open Sheet](https://docs.google.com/spreadsheets/d/1Y6LhewHCZ48Kx2a3PrTCx-iFJgRNcSucgTebdXvASmc/edit?usp=sharing)  \n- **Get group IDs**: [Open Subworkflow](https://n8n-vps.gasscoelho.me/workflow/LT3UT36leZUM1sCa)","height":580,"width":280,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[260,-180],"id":"f5c9337d-18f4-4e8e-8900-a38e78acd258","name":"Sticky Note1"},{"parameters":{"jsCode":"return [\n  {\n    \"row_number\": 1,\n    \"name\": \"Gabriel\",\n    \"number_or_group_id\": \"556192602546\"\n  },\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[340,220],"id":"694cb3ed-aa24-4a9a-91f6-09e3924b64cd","name":"Get Single Number (QA)","disabled":true}],"connections":{"Generate Morning Message":{"main":[[{"node":"Get Numbers From Whitelist","type":"main","index":0}]]},"Set Fields":{"main":[[{"node":"Send Morning Message","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set Date Fields","type":"main","index":0}]]},"Wait":{"main":[[]]},"Set Date Fields":{"main":[[{"node":"Generate Morning Message","type":"main","index":0}]]},"Get Numbers From Whitelist":{"main":[[{"node":"Set Fields","type":"main","index":0}]]},"Get Single Number (QA)":{"main":[[{"node":"Set Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7fd9e952-513d-4b87-99f1-bd2ef8ecb184","triggerCount":1,"tags":[]}