workflows/upload_groups_to_google_sheets-LT3UT36leZUM1sCa.json
{"createdAt":"2025-07-11T05:45:54.880Z","updatedAt":"2025-07-11T06:32:13.954Z","id":"LT3UT36leZUM1sCa","name":"upload_groups_to_google_sheets","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-480,-120],"id":"3603ecbb-860d-40ba-a2f0-f91a8e71b757","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"groups-api","operation":"fetch-groups","instanceName":"Morning Messages","searchMethod":"fetchAll"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-260,-120],"id":"e6d10cb8-bd09-42bd-9c1f-41e48ccc4c5b","name":"Retrieve groups","credentials":{"evolutionApi":{"id":"mkiwUQXoPmLATonv","name":"Evolution account"}}},{"parameters":{"jsCode":"const groups = $input.first().json.data\nreturn groups.map(group => ({\n  id: group.id,\n  name: group.subject,\n  size: group.size,\n}))"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[180,-120],"id":"6efcde2a-29db-4854-973c-e4442647f0c4","name":"Map"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Y6LhewHCZ48Kx2a3PrTCx-iFJgRNcSucgTebdXvASmc","mode":"list","cachedResultName":"whatsapp_whitelist","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y6LhewHCZ48Kx2a3PrTCx-iFJgRNcSucgTebdXvASmc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":268375703,"mode":"list","cachedResultName":"silver_groups","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y6LhewHCZ48Kx2a3PrTCx-iFJgRNcSucgTebdXvASmc/edit#gid=268375703"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"size","displayName":"size","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[620,-120],"id":"73fd59e3-54a7-417c-87d7-4871a64db891","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"1em80c17P77M99qF","name":"Google Sheets account"}}},{"parameters":{"operation":"clear","documentId":{"__rl":true,"value":"1Y6LhewHCZ48Kx2a3PrTCx-iFJgRNcSucgTebdXvASmc","mode":"list","cachedResultName":"whatsapp_whitelist","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y6LhewHCZ48Kx2a3PrTCx-iFJgRNcSucgTebdXvASmc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":268375703,"mode":"list","cachedResultName":"silver_groups","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y6LhewHCZ48Kx2a3PrTCx-iFJgRNcSucgTebdXvASmc/edit#gid=268375703"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-40,-120],"id":"4f61c08a-1bfd-4ad6-bde4-fe07db5dcd86","name":"Clear sheet","credentials":{"googleSheetsOAuth2Api":{"id":"1em80c17P77M99qF","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e2d91729-af98-4551-a07e-559591a466b6","name":"name","value":"={{ $('Map').item.json.name }}","type":"string"},{"id":"5694c7fa-cc25-4017-a428-74d9e746272d","name":"id","value":"={{ $('Map').item.json.id }}","type":"string"},{"id":"28168187-4121-4916-9785-85e2701b233c","name":"size","value":"={{ $('Map').item.json.size }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,-120],"id":"38f8c83c-5b58-4a8e-9c24-b4b6a30e6f1b","name":"Prepare Data"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Retrieve groups","type":"main","index":0}]]},"Retrieve groups":{"main":[[{"node":"Clear sheet","type":"main","index":0}]]},"Map":{"main":[[{"node":"Prepare Data","type":"main","index":0}]]},"Clear sheet":{"main":[[{"node":"Map","type":"main","index":0}]]},"Prepare Data":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0877cb82-9675-40e6-bdb4-7edf56d6cba4","triggerCount":0,"tags":[]}